<template>
    <div class="add-measure-modal d-inline-flex">
        <a href="#" type="button" data-toggle="modal" data-target="#add-measure-modal" class="btn-primary btn-sm">
            <span class="icon-plus-icon"></span>
            Maatregel toevoegen
        </a>

        <div class="modal fade" id="add-measure-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="add-measure-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered text-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="add-measure-label">Maatregel toevoegen</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            Sluiten <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <slot></slot>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddMeasureModal"
    }
</script>
