<template>
    <div class="log-wrapper">
        <a href="#" type="button" data-toggle="modal" data-target="#log-modal" class="btn-grey btn-sm">
            Logboek
        </a>

        <div class="modal fade" id="log-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="log-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="log-modal-label">Logboek</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            Sluiten <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col table-responsive">
                                <table class="table overview-table">
                                    <thead>
                                        <tr>
                                            <th>Gebruiker</th>
                                            <th>Actie</th>
                                            <th>Datum</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="log in logs">
                                            <td>{{ log.user }}</td>
                                            <td>{{ log.action }}</td>
                                            <td>{{ log.date }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "LogModal",
        
        props: {
            apiUrl: {
                type: String,
                default: '/api/measure-log'
            }
        },
        
        data() {
            return {
                logs: []
            }
        },

        mounted() {
            this.fetchData();
        },

        methods: {
            fetchData: function() {
                axios.get(this.apiUrl)
                    .then(response => {
                        this.$set(this, 'logs', [...this.logs, ...response.data]);
                    })
                    .catch(error => {
                        this.$toaster.error('Ophalen van de logbestanden is mislukt!');
                    });
            }
        }
    }
</script>
