<template>
    <div class="vue-measure-overview">
        <div v-if="inBuildingDetailMode === false" class="row app-measures-chart">
            <div class="col col-lg-12">
                <chart-investment-vs-savings :years="chartData.years" :savings="chartData.savings" :investments="chartData.investments"></chart-investment-vs-savings>
            </div>
        </div>
        
        <div class="row overview-wrapper">
            <div class="col">
                <div class="inner">
                    <div class="row">
                        <div class="col">
                            <slot name="header"></slot>
                            <h4>Maatregelen filteren</h4>
                        </div>
                    </div>
                    <div v-if="filters.length >= 1" class="row overview-filters align-items-start mt-4">
                        <div class="col">
                            <filter-set :filters="filters" @filters-changed="handleFiltersChanged"></filter-set>
                        </div>
                        
                        <div v-if="inBuildingDetailMode === false" class="col-auto d-md-flex d-xl-block flex-md-wrap text-md-right mt-5 mt-md-0 flex-md-column">
                            <add-measure-modal>
                                <slot name="modal-content"></slot>
                            </add-measure-modal>
                        </div>
                    </div>
    
                    <div class="row overview-items">
                        <perfect-scrollbar class="col table-responsive" :options="{ wheelPropagation: true }">
                            <table class="table overview-table">
                                <thead>
                                    <tr>
                                        <th v-if="inBuildingDetailMode === false">Gebouw</th>
                                        <th>Maatregel</th>
                                        <th>Investering</th>
                                        <th>Terugverdientijd (jaren)</th>
                                        <th>Totale besparing CO2 (kg)</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template v-if="gridData.length >= 1">
                                        <tr v-for="measure in gridData">
                                            <td v-if="inBuildingDetailMode === false">{{ measure.building }}</td>
                                            <td>{{ measure.measure }}</td>
                                            <td v-html="`&euro; ${measure.investment}`"></td>
                                            <td>{{ measure.recoupedYears }}</td>
                                            <td>{{ measure.totalSavings }} kg</td>
                                            <td>{{ measure.status }}</td>
                                        </tr>
                                    </template>
    
                                    <template v-if="gridData.length <= 0">
                                        <tr>
                                            <td colspan="6" class="text-center">Er zijn geen maatregelen gevonden..</td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </perfect-scrollbar>
                    </div>
        
                    <loader v-if="infiniteScrollActive === true" :is-loading="isLoading" @loader-visibility="handleLoaderVisibility"></loader>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import grid from "../../../mixins/grid";

    export default {
        name: "MeasureOverview",
        
        mixins: [grid],
        
        props: {
            buildingGuid: String
        },
        
        data() {
            return {
                filters: [
                    {
                        name: 'Gebouw',
                        fieldName: 'building',
                        type: 'search',
                        apiUrl: this.autocompleteApiUrl
                    },
                    {
                        name: 'Maatregel',
                        fieldName: 'measure',
                        type: 'search',
                        apiUrl: this.autocompleteApiUrl
                    },
                    {
                        name: 'Investering',
                        fieldName: 'investment',
                        type: 'range'
                    },
                    {
                        name: 'Terugverdientijd',
                        type: 'range',
                        fieldName: 'recoupedYears'
                    },
                    {
                        name: 'Status',
                        type: 'list',
                        fieldName: 'status',
                        options: [
                            'JA – Volledig',
                            'JA – Gedeeltelijk',
                            'JA – Alternatief',
                            'NEE – (Nog) niet uitgevoerd',
                            'NEE – Natuurlijk moment nog niet geweest',
                            'NEE – Niet van toepassing',
                            'NEE – Niet voldaan aan randvoorwaarden - technisch',
                            'NEE – Niet voldaan aan randvoorwaarden - economisch',
                            'ProForma (onbekend)'
                        ]
                    }
                ],
                chartData: {
                    years: [],
                    savings: [],
                    investments: []
                }
            }
        },
        
        computed: {
            inBuildingDetailMode() {
                return _.isNil(this.buildingGuid) === false && _.isEmpty(this.buildingGuid) === false
            }
        },
        
        created() {
            if (this.inBuildingDetailMode) {
                this.filters.shift();
            }
        },
        
        methods: {
            prepareFilterData: function() {
                let filterData = {
                    ...this.filterData
                };
                
                if (_.isNil(this.buildingGuid) === false) {
                    filterData['buildingGuid'] = {
                        'exact': [this.buildingGuid]
                    }
                }
                
                return filterData;
            },
            
            parseChartData: function (sourceData) {
                this.$set(this.chartData, 'years', _.map(sourceData.chartinvestmentvssavings, 'year'));
                this.$set(this.chartData, 'savings', _.map(sourceData.chartinvestmentvssavings, 'saving'));
                this.$set(this.chartData, 'investments', _.map(sourceData.chartinvestmentvssavings, 'investment'));
            }
        }
    }
</script>
