<template>
    <div class="form-bg">
        <div class="form-group">
            <label for="measure-saved-kwh">Besparing elektra (kWh)</label>
            <input type="number" v-model.number="savedKwh" class="form-control" id="measure-saved-kwh" name="measure-saved-kwh">
        </div>

        <div class="form-group">
            <label for="measure-saved-cubic-gas">Besparing gas (m<sup>3</sup>)</label>
            <input type="number" v-model.number="savedCubicGas" class="form-control" id="measure-saved-cubic-gas" name="measure-saved-cubic-gas">
        </div>

        <div class="form-group">
            <label for="measure-saved-heat-gj">Besparing gas (GJ)</label>
            <input type="number" v-model.number="savedHeat" class="form-control" id="measure-saved-heat-gj" name="measure-saved-heat-gj">
        </div>

        <div class="row">
            <div class="form-group col-6">
                <label for="measure-total-saved-heat-gj">Totale besparing (GJ)</label>
                <input type="number" :value="totalSavedHeat" class="form-control" id="measure-total-saved-heat-gj" name="measure-total-saved-heat-gj" readonly>
            </div>
            <div class="form-group col-6">
                <label for="measure-total-saved-oxygen">Totale besparing CO<sub>2</sub> (kg)</label>
                <input type="number" :value="totalSavedOxygen" class="form-control" id="measure-total-saved-oxygen" name="measure-total-saved-oxygen" readonly>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SavingsFormula",

        props: {
            FactorKwhToGj: {
                type: Number,
                default: 0.0036
            },
            factorGasToGj: {
                type: Number,
                default: 0.0031604
            },
            factorGjToCo2: {
                type: Number,
                default: 35.97
            },
            factorKwhToCo2: {
                type: Number,
                default: 0.413
            },
            factorCubicToCo2: {
                type: Number,
                default: 1.89
            },
            initialSavedKwh: {
                type: Number,
                default: null
            },
            initialSavedCubicGas: {
                type: Number,
                default: null
            },
            initialSavedHeat: {
                type: Number,
                default: null
            }
        },

        data() {
            return {
                savedKwh: this.initialSavedKwh,
                savedCubicGas: this.initialSavedCubicGas,
                savedHeat: this.initialSavedHeat
            }
        },

        computed: {
            hasRequiredFields: function() {
                return (_.isNil(this.savedKwh) || _.isNil(this.savedCubicGas) || _.isNil(this.savedHeat)) === false;
            },

            totalSavedHeat: function() {
                if (this.hasRequiredFields === false) {
                    return 0;
                }

                return (this.savedKwh * this.FactorKwhToGj) + (this.savedCubicGas * this.factorGasToGj) + this.savedHeat;
            },

            totalSavedOxygen: function() {
                if (this.hasRequiredFields === false) {
                    return 0;
                }

                return (this.savedKwh * this.factorKwhToCo2) + (this.savedCubicGas * this.factorCubicToCo2) + (this.savedHeat * this.factorGjToCo2);
            }
        }
    }
</script>
