@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icomoon.eot?h6m58h');
    src:  url('/fonts/icomoon.eot?h6m58h#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?h6m58h') format('truetype'),
    url('/fonts/icomoon.woff?h6m58h') format('woff'),
    url('/fonts/icomoon.svg?h6m58h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-star-outline-icon:before {
    content: "\e905";
    color: #033b58;
}
.icon-file-icon:before {
    content: "\e906";
    color: #033b58;
}
.icon-star-icon:before {
    content: "\e907";
    color: #eedb28;
}
.icon-unknown-file-icon:before {
    content: "\e900";
}
.icon-check-icon:before {
    content: "\e901";
}
.icon-bin-icon:before {
    content: "\e904";
}
.icon-eye-closed-icon:before {
    content: "\e914";
    color: #033b58;
}
.icon-information-icon:before {
    content: "\e902";
    color: #033b58;
}
.icon-eye-icon:before {
    content: "\e903";
    color: #033b58;
}
.icon-loader-icon:before {
    content: "\e90b";
    color: #033b58;
}
.icon-map-closed-icon:before {
    content: "\e90c";
    color: #033b58;
}
.icon-map-open-icon:before {
    content: "\e90d";
    color: #033b58;
}
.icon-energy-label:before {
    content: "\e90e";
}
.icon-parisproof-icon:before {
    content: "\e90f";
}
.icon-plus-icon:before {
    content: "\e910";
}
.icon-search-icon:before {
    content: "\e911";
    color: #033b58;
}
.icon-exclemation-icon:before {
    content: "\e912";
}
.icon-timeline-slider-icon:before {
    content: "\e913";
}
