@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,700i&display=swap");

html {
    font-size: 62.5%;
}

body {
    font-family: $font-default;
    font-size: 1.4rem;
    font-weight: $font-weight-regular;
    color: $color-text;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
}

strong {
    font-weight: $font-weight-bold;
}

h1 {
    color: $color-secondary;
    font-weight: $font-weight-bold;
    font-style: italic;
    font-size: 4.2rem;
    line-height: 5.2rem;
    &.large {
        color: $color-primary;;
        font-size: 5.2rem;
        line-height: 5.9rem;
        @media screen and (max-width: 1366px) {
            font-size: 4.2rem;
            line-height: 5.2rem;
        }
        @include media-breakpoint-down(md) {
            font-size: 3.8rem;
            line-height: 4.8rem;
        }
        @include media-breakpoint-down(sm) {
            font-size: 3.2rem;
            line-height: 4.2rem;
        }
    }
    @include media-breakpoint-down(sm) {
        font-size: 3.4rem;
        line-height: 4.4rem;
    }
}

h2 {
    font-size: 2.4rem;
    font-weight: $font-weight-bold;
    margin-bottom: 20px;
    @media screen and (max-width: 1366px) {
        font-size: 2rem;
    }
    @media screen and (max-width: 400px) {
        font-size: 1.8rem;
    }
}

h3 {
    font-size: 1.8rem;
    font-weight: $font-weight-bold;
}

h4 {
    font-size: 1.6rem;
    font-weight: $font-weight-bold;
}

a,
a:hover {
    color: inherit;
}

strong {
    font-weight: $font-weight-bold;
}
