@mixin bg-cc {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin inline-section( $size ) {
    margin-right: -$size;
    margin-left: -$size;
    padding-left: $size;
    padding-right: $size;
}

@mixin welcom-message-style {
    .app-welcome-message {
        p {
            font-size: 1.6rem;
            line-height: 2.8rem;
            font-weight: $font-weight-bold;
        }
    }
}

@mixin box-shadow {
    border-radius: $border-radius;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

@mixin text-crop($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    // Configured in Step 1
    $top-crop: 6;
    $bottom-crop: 5;
    $crop-font-size: 36;
    $crop-line-height: 1;

    // Apply values to calculate em-based margins that work with any font size
    $dynamic-top-crop: max(($top-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;
    $dynamic-bottom-crop: max(($bottom-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;

    // Mixin output
    line-height: $line-height;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: calc(-#{$dynamic-top-crop}em + #{$top-adjustment});
    }

    &::after {
        margin-top: calc(-#{$dynamic-bottom-crop}em + #{$bottom-adjustment});
    }
}

@mixin placeholderBar($width: 50%) {
    background-color: darken($color-light-grey, 20%);
    height: 10px;
    width: $width;
}
