// Colors
$color-primary:         #00A3E0;
$color-secondary:       #033B58;
$color-text:            #033B58;
$color-form-text:       #414B5C;

$color-green:           #809700;
$color-orange:          #E75B04;
$color-red:             #AC1919;
$color-black:           #000000;
$color-white:           #FFFFFF;
$color-light-grey:      #F1F5F6;
$color-grey:            #D8D8D8;

// Energy label colors
$energy-label-green:    #007643;
$energy-label-yellow:   #EEDB28;


// Fonts
$font-default:              'Ubuntu', sans-serif;
$font-default-lineheight:   1.7em;
$font-weight-light:         300;
$font-weight-regular:       400;
$font-weight-medium:        500;
$font-weight-bold:          700;

// Sizes
$tablet-landscape:          1024px;
$tablet-portrait:           768px;

$border-radius:             3px;
$border-radius-round:       50px;
