.app-dashboard-overview {
    padding: 60px 50px 0;
    @include welcom-message-style;
    .app-error-message {
        padding-top: 30px;
        .alert {
            float: right;
        }
    }
    .app-dashboard-widget-overview {
        margin-bottom: 50px;
    }
    .overview-buildings {
        .vue-chart-legend {
            margin-top: 25px;
        }
    }
    .status-labels-widget {
        .widget-wrapper {
            .widget-chart {
                width: 100%;
                .vue-chart.vue-chart-building-energy-labels {
                    width: 100%;
                    .vue-chart-wrapper,
                    .vue-chart-legend {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    .vue-chart-legend {
                        margin-top: 25px;
                        ul {
                            li {
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1680px) {
    .app-dashboard-overview {
        .status-labels-widget {
            .widget-table {
                margin-top: 25px;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .app-dashboard-overview {
        .overview-buildings {
            .widget-wrapper {
                .widget-chart {
                    max-width: unset;
                    & > div {
                        width: 100%;
                    }
                    .vue-chart-wrapper,
                    .vue-chart-legend {
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                    .vue-chart-legend {
                        margin-top: 0 !important;
                        ul {
                            text-align: left;
                            li {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .app-dashboard-widget-overview {
        & > .widget-item {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

@media screen and (max-width: 600px) {
    .app-dashboard-overview {
        .overview-buildings,
        .status-labels-widget {
            .widget-wrapper {
                .widget-chart {
                    .vue-chart-wrapper,
                    .vue-chart-legend {
                        flex: 0 0 100% !important;
                        max-width: 100% !important;
                    }
                    .vue-chart-legend {
                        margin-top: 25px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .app-dashboard-overview {
        padding: 30px 15px 0;
    }
}