.app-edit-measure {
    h1 {
        margin-bottom: 50px;
    }
    .info {
        margin-top: 10px;
        font-size: 1.6rem;
        p {
            font-weight: $font-weight-regular;
        }
    }
    .measure-form-wrapper {
        margin-top: 0;
    }
}
