.app-building-overview {
    padding: 60px 50px 50px;
    @include welcom-message-style;
    .building-overview-chart {
        margin-top: 75px;
        h3 {
            margin-bottom: 30px;
            min-height: 42px;
        }
    }
    .add-building-modal {
        & > .btn-primary {
            width: 100%;
        }
    }
    .overview-wrapper table.table.overview-table {
        thead tr th:first-child {
            width: 145px;
        }
        tbody tr td:first-child {
            text-align: center;
        }
    }
}

@media screen and (max-width: 1440px) {
    .app-building-overview {
        .building-overview-chart {
            .vue-chart {
                .vue-chart-wrapper,
                .vue-chart-legend {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .vue-chart-legend {
                    margin-top: 25px;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) and (min-width: 900px) {
    .app-building-overview {
        .building-overview-chart {
            .vue-chart {
                .vue-chart-wrapper,
                .vue-chart-legend {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                .vue-chart-legend {
                    margin-top: 0px;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .app-building-overview {
        padding: 30px 15px 20px;
    }
}