.app-measures-overview {
    padding: 60px 50px 50px;
    @include welcom-message-style;
    .app-measures-chart {
        margin-top: 20px;
    }
    .overview-filters {
        .log-wrapper {
            display: inline-block;
            margin-right: 25px;
        }
    }
}
.overview-wrapper {
    table.table.overview-table {
        thead tr th:first-child {
            max-width: unset;
            width: auto;
        }
        tbody tr {
            td {
                &:first-child {
                    text-align: left;
                }

                &.edit-row {
                    text-align: center;
                    border-top-right-radius: $border-radius;
                    border-top-left-radius: $border-radius;

                    .dropdown-toggle {
                        color: $color-white;

                        &:after {
                            display: none;
                        }
                    }

                    &:hover {
                        background-color: $color-secondary;

                        .dropdown-toggle {
                            color: $color-white;
                        }
                    }
                }
            }

            &:hover {
                .edit-row {
                    .dropdown-toggle {
                        color: $color-secondary;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .app-measures-overview {
        .overview-filters {
            .log-wrapper {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .app-measures-overview {
        padding: 60px 30px 50px;
    }
}

@media screen and (max-width:400px) {
    .app-measures-overview {
        padding: 30px 15px 20px;
    }
}