.app-file-overview {
    & > .inner {
        padding: 50px 35px;
        h1 {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .file-search-wrapper {
            margin-top: 50px;
            .form-control {
                max-width: 100%;
                font-weight: $font-weight-regular;
            }
            hr {
                border-top: 1px solid $color-grey;
                width: 98%;
            }
        }
    }
    .file-first {
        margin-top: 40px;
        .inner {
            @include box-shadow;
            padding: 30px;
            height: 100%;
            .head {
                h2 {
                    display: inline-block;
                }
                .information-popup {
                    display: inline-block;
                    float: right;
                }
            }
        }
    }
    .favorite-overview {
        margin-top: 5px;
        .ps {
            max-height: 115px;
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            .favorite-file {
                margin-top: 20px;
                &:nth-child(1),
                &:nth-child(2) {
                    margin-top: 0;
                }
            }
        }
    }
    .recent-overview {
        margin-top: 8px;
        .ps {
            max-height: 115px;
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            .recent-file {
                margin-top: 25px;
                &:nth-child(1),
                &:nth-child(2) {
                    margin-top: 0;
                }
            }
        }
    }
    .file-browser-wrapper {
        margin-top: 50px;
        .file-browser {
            & > .inner {
                @include box-shadow;
                .file-folder-tree {
                    padding-right: 0;
                    .ps {
                        max-height: 365px;
                    }
                    .inner {
                        padding:30px 0 30px 30px;
                        h2 {
                            margin-bottom: 35px;
                        }
                    }
                }
                .file-folder-items {
                    background-color: $color-light-grey;
                    padding-right: 0;
                    .inner {
                        padding:30px 0 30px 30px;
                        h3 {
                            margin-top: 5px;
                            margin-bottom: 35px;
                        }
                        .selected-overview {
                            margin-top: 25px;
                            .ps {
                                max-height: 340px;
                            }
                            .file {
                                margin-bottom: 35px;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                .file-name {
                                    display: inline-flex;
                                    align-items: center;
                                }
                                .file-date {
                                    display: inline-flex;
                                    align-items: center;
                                    p {
                                        margin-bottom: 0;
                                    }
                                }
                                .file-edit {
                                    display: inline-flex;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .app-file-overview {
        .file-browser-wrapper {
            .file-browser {
                & > .inner {
                    .file-folder-tree {
                        padding-right: 15px;
                    }
                    .file-folder-items {
                        background-color: unset;
                        padding-right: 15px;
                        .inner {
                            background-color: $color-light-grey;
                        }
                    }
                }
            }
        }
        .recent-file-wrapper {
            margin-top: 50px;
        }
    }
}

@media screen and (max-width: 600px) {
    .app-file-overview {
        .favorite-overview,
        .recent-overview {
            .ps {
                max-height: 200px;
            }
        }
        .file-first {
            .inner {
                .head {
                    h2 {
                        max-width: 80%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .app-file-overview {
        & > .inner {
            padding: 30px 0 20px;
        }
    }
}