.app-add-edit-measure {
    @include welcom-message-style;
    padding-bottom: 100px;
    .app-welcome-message {
        padding: 60px 50px 50px;
    }
    .measure-form-wrapper {
        margin-top: 50px;
        overflow-x: hidden;
        .form-group {
            margin-bottom: 20px;
        }
        .form-bg {
            position: relative;
            padding-top: 30px;
            padding-bottom: 10px;
            margin-bottom: 30px;
            margin-top: 30px;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: -100vw;
                width: 200vw;
                height: 100%;
                background-color: $color-light-grey;
                z-index: -1;
            }
        }
        .btn-dark {
            width: 100%;
            margin-bottom: 20px;
        }
        button.btn-primary {
            margin-left: 40px;
        }
    }
}

@media screen and (max-width: 600px) {
    .app-add-edit-measure {
        .app-welcome-message {
            padding: 40px 15px 10px;
        }
        .measure-form-wrapper {
            button {
                &.btn-primary {
                    margin-top: 20px;
                }
            }
        }
    }
}
