.app-building-detail {
    & >.inner {
        padding: 60px 35px 50px;
        .building-info {
            padding-right: 25px;
            & > .inner {
                @include box-shadow;
                padding: 30px;
                ul.building-details {
                    padding-left: 0;
                    list-style: none;
                    margin-top: 25px;
                    margin-bottom: 15px;
                }
            }
        }
        .usage-slider {
            padding-left: 25px;
            & > .inner {
                padding: 30px;
                @include box-shadow;
                height: 100%;
                h2 {
                    display: inline-block;
                }
                .usage-wrapper {
                    display:flex;
                    align-items: flex-end;
                    width: 700px;
                    margin-top: 25px;
                    padding-bottom: 20px;
                    .legend {
                        margin-bottom: 10px;
                        ul {
                            list-style: none;
                            margin: 0;
                            padding:0;
                            font-size: 1.6rem;
                            font-weight: $font-weight-bold;
                            li {
                                margin-bottom: 22px;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                    .years {
                        display:flex;
                        flex-wrap: nowrap;
                        .year {
                            margin-left:20px;
                            ul.content {
                                background-color: $color-light-grey;
                                margin: 20px 0 0 0;
                                padding: 10px 15px;
                                list-style: none;
                                li {
                                    margin-bottom:25px;
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .general-details,
        .building-files {
            margin-top: 50px;
            & > .inner {
                @include box-shadow;
                padding: 30px;
                & > h2 {
                    display: inline-block;
                }
                .recent-wrapper {
                    margin-top: 20px;
                }
            }
            .recent-overview,
            .favorite-overview {
                & > .ps {
                    max-height: 210px;
                }
            }
        }
        .general-details {
            padding-right: 25px;
            .tab-wrapper {
                margin-top: 20px;
                ul.toggles {
                    margin-bottom: 25px;
                }
                .content-row {
                    margin-bottom: 10px;
                    p {
                        margin: 0;
                    }
                }
            }
        }
        .building-files {
            padding-left: 25px;
            & > .inner {
                h3{
                    margin-top: 30px;
                    &:first-of-type {
                        margin-top: 5px;
                    }
                }
            }
        }
        .overview-wrapper {
            table.table.overview-table {
                thead tr {
                    th {
                        &:first-child {
                            min-width: auto;
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .app-building-detail {
        & > .inner {
            .building-info,
            .general-details{
                flex: 0 0 100%;
                max-width: 100%;
                padding-right: 15px;
            }
            .usage-slider,
            .building-files{
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 15px;
                margin-top: 50px;
            }
            .building-files {
                & > .inner {
                    .favorite-wrapper,
                    .recent-wrapper {
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                    .recent-wrapper {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .app-building-detail {
        & > .inner {
            padding: 60px 30px 50px;
            .building-files {
                & > .inner {
                    .favorite-wrapper,
                    .recent-wrapper {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    .recent-wrapper {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .app-building-detail {
        & > .inner {
            padding: 30px 0 20px;
            .general-details {
                .tab-wrapper {
                    .content-row {
                        & > .row > .col-6 {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                    }
                }
                & > .innner {
                    & > h2 {

                    }
                }
            }
            .building-files {
                & > .inner {
                    & > h2 {
                        max-width: 75%;
                    }
                }
            }
        }
    }
}