.auth-page {
    .auth-forms {
        padding: 50px 50px 25px;
        @include media-breakpoint-down(xs) {
            padding: 30px 30px 25px;
        }
        &::-webkit-scrollbar{
            width: 0 !important;
        }
        .logo {
            margin: 0 auto 75px auto;
            width:100%;
            max-width: 300px;
        }
        h1.large {
            margin-bottom: 45px;
        }
        .coop-images {
            margin-top: 50px;
            h3{
                margin-bottom: 20px;
            }
            .coop-image{
                @media screen and (max-width: $tablet-landscape){
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        form {
            margin-top: 50px;
            .btn-primary {
                width: 100%;
                display: block;
            }
            .auth-register-buildings,
            .auth-register-add-building,
            .auth-register-added-building{
                @include inline-section( 50px );
                padding-top: 30px;
                padding-bottom: 30px;
                background-color: rgba($color-secondary, 0.1);
                .form-control:not(.is-valid):not(.is-invalid) {
                    border: none;
                }
            }
            .auth-register-buildings{
                & > h3 {
                    margin-top: 30px;
                    &:first-child {
                        margin-top: 0;
                    }
                }
                a {
                  text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .auth-register-added-building {
                margin-top: 18px;
                position: relative;
                h3 {
                    margin-top: 0;
                }
                .auth-register-remove-building {
                    position: absolute;
                    right: 50px;
                    top: 30px;
                    font-size: 20px;
                    color: $color-secondary;
                }
            }
            .auth-register-add-building {
                margin-top: 15px;
                margin-bottom: 25px;
                a {
                    color: $color-secondary;
                    font-weight: $font-weight-bold;
                    font-size: 1.8rem;
                    position: relative;
                    span {
                        display: inline-block;
                        margin-right: 25px;
                        @include transition;
                        &:before {
                            color: inherit;
                        }
                    }
                    &:hover {
                        text-decoration: none;
                        span {
                            transform: rotate(90deg);
                        }
                    }
                }
                .warning {
                    a {
                        font-size: 1.4rem;
                        font-weight: $font-weight-regular;
                        text-decoration: underline;
                        color: $color-black;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
            .text-danger {
                margin-bottom: 18px;
            }
        }
    }
    .main-image {
        background-image: url("/images/parisproof.jpg");
        @include bg-cc;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        p {
            font-weight: $font-weight-light;
            color: $color-white;
            font-size: 2.6rem;
            line-height: 3.6rem;
            margin-bottom: 50px;
            margin-left: 50px;
        }
        @include media-breakpoint-up(lg) {
            width: 58.3333333333%;
        }
        @include media-breakpoint-up(xl) {
            width: 66.6666666667%;
        }
        @include media-breakpoint-down(md) {
            display: none !important;
        }
    }
}
