<template>
    <div class="alert" :class="alertClass">
        <span class="icon-information-icon"></span>
        <slot></slot>
        <a v-if="link" :href="link" title="Oplossen">Oplossen</a>
    </div>
</template>

<script>
    export default {
        name: "Alert",

        props: {
            "type": String,
            "link": String
        },

        computed: {
            alertClass: function() {
                if (this.type === 'success') {
                    return 'alert-success';
                }

                if (this.type === 'error') {
                    return 'alert-error';
                }

                return 'alert-warning'
            }
        }
    }
</script>
