<template>
    <div id="#vue-dashboard">
        
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-12 order-2 order-lg-1 app-paris-proof-sidebar">
                <paris-proof-score :consumption="parisProof.meanParisProofScore" :norm="parisProof.meanParisProofNorm">
                    <template slot="paris-proof-score-info-title">
                        <slot name="paris-proof-score-info-title"></slot>
                    </template>
                    
                    <template slot="paris-proof-score-info-content">
                        <slot name="paris-proof-score-info-content"></slot>
                    </template>
                    
                    <template slot="paris-proof-score-content">
                        <slot name="paris-proof-score-content"></slot>
                    </template>
                </paris-proof-score>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-12 order-1 order-lg-1 app-dashboard-overview">
                <div class="row">
                    <div class="app-welcome-message col-auto">
                        <slot name="page-title"></slot>
                    </div>

                    <div v-if="hasNotifications" class="col-xl-7 app-error-message">
                        <slot name="notifications"></slot>
                    </div>
                </div>

                <div class="row app-dashboard-widget-overview">
                    <div class="col-xl-5 widget-item">
                        <div class="inner">
                            <h2>Volledigheid data</h2>
                            <div class="widget-actions">
                                <slot name="data-availability-widget-actions"></slot>
                            </div>

                            <div class="widget-wrapper">
                                <div class="widget-chart">
                                    <percentage-chart :percentage="charts.dataAvailability.percentageOfDataAvailable" :height="200" :width="200"></percentage-chart>
                                </div>
                                <div v-show="hasDataAvailabilityMessages" class="widget-info">
                                    <h3>Dit missen we nog!</h3>
                                    <p v-for="(message, index) in charts.dataAvailability.dataAvailabilityMessages" :key="index" v-html="message"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-7 widget-item overview-buildings">
                        <div class="inner">
                            <h2>Overzicht panden</h2>
                            <div class="widget-actions">
                                <slot name="overview-buildings-widget-actions"></slot>
                            </div>

                            <div class="widget-wrapper">
                                <div class="widget-chart">
                                    <chart-building-functions :height="200" :width="200" :source-data="this.charts.buildings.buildingFunctions" col="12"></chart-building-functions>
                                </div>
                                <div class="widget-info">
                                    <h3>Informatieplichtig <span><number :from="0" :to="charts.buildings.percentageOfInformationObligation" :duration="1.6" ></number>%</span></h3>
                                    <slot name="overview-buildings-widget-content"></slot>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 widget-item status-labels-widget">
                        <div class="inner">
                            <h2>Status van labels</h2>
                            <div class="widget-actions">
                                <slot name="status-labels-widget-actions"></slot>
                            </div>

                            <div class="widget-wrapper">
                                <div class="widget-chart">
                                    <chart-building-energy-labels :height="230" :source-data="energyLabel.labelData"></chart-building-energy-labels>
                                </div>

                                <div class="widget-info widget-table">
                                    <h3 class="pl-5">Verloopdatum & leeftijd</h3>
                                    <table-expiration-date-age :table-data="energyLabel.tableData"></table-expiration-date-age>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 widget-item measures-widget">
                        <div class="inner">
                            <h2>Maatregelen</h2>
                            <div class="widget-actions">
                                <slot name="measures-widget-actions"></slot>
                            </div>

                            <div class="widget-wrapper">
                                <div class="widget-chart">
                                    <chart-measures :source-data="this.charts.measures" :height="200"></chart-measures>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SegmentParser from '../../mixins/segmentParser';
    
    export default {
        name: "Dashboard",

        mixins: [ SegmentParser ],
        
        props: {
            apiUrl: {
                type: String,
                default: '/api/dashboard'
            }
        },
        
        data() {
            return {
                year: (new Date()).getFullYear(),
                parisProof: {
                    meanParisProofScore: 0,
                    meanParisProofNorm: 0
                },
                charts: {
                    dataAvailability: {
                        dataAvailabilityMessages: [],
                        percentageOfDataAvailable: 0
                    },
                    buildings: {
                        totalNumberOfBuildings: 0,
                        percentageOfInformationObligation: 0,
                        buildingFunctions: {}
                    },
                    measures: []
                },
                energyLabel: {
                    labelData: {},
                    tableData: {
                        zeroToThreeYears: 0,
                        threeToSevenYears: 0,
                        sevenYears: 0,
                        eightYears: 0,
                        nineYears: 0,
                        expired: 0,
                        noLabel: 0,
                        totalNumberOfBuildings: 0
                    }
                }
            }
        },

        computed: {
            hasDataAvailabilityMessages: function() {
                return _.isEmpty(this.charts.dataAvailability.dataAvailabilityMessages) === false;
            },
            
            hasNotifications: function() {
                return !! this.$slots.notifications;
            }
        },
        
        created() {
            this.fetchDashboardData();
        },

        methods: {
            mutateYear: function(payload) {
                this.year = payload.year;
                this.fetchDashboardData();
            },
            
            fetchDashboardData: function() {
                axios.get(this.apiUrl, { params: { year: this.year }})
                    .then(response => {
                        this.parisProof = response.data.parisProofChart;
                        
                        this.$set(this.charts, 'dataAvailability', response.data.dataAvailabilityChart);
                        
                        this.energyLabel.tableData = response.data.labelData;
                        this.$set(this.energyLabel, 'labelData', this.segmentParser(response.data.labelData.labels, 'labelCategory'));
                        
                        this.charts.buildings.totalNumberOfBuildings = response.data.buildingsChart.totalNumberOfBuildings;
                        this.charts.buildings.percentageOfInformationObligation = response.data.buildingsChart.percentageOfInformationObligation;
                        this.$set(this.charts.buildings, 'buildingFunctions', this.segmentParser(response.data.buildingsChart.buildingFunctions, 'name'));
                        
                        this.$set(this.charts, 'measures', response.data.measureData.measurementInformation);
                    })
                    .catch(error => {
                        this.$toaster.error('Ophalen van de data is mislukt!');
                    });
            }
        }
    }
</script>
