<template>
    <div class="energy-label-wrap small">
        <span class="icon-energy-label" :class="colorClass"></span>
        {{ formattedLabel }}
    </div>
</template>

<script>
    export default {
        name: "EnergyLabel",
        
        props: {
            'label': {
                type: String,
                default: '?'
            },
            
            'estimate': {
                type: Boolean,
                default: false
            }
        },
        
        computed: {
            formattedLabel: function() {
                if (['A++', 'A+', 'A', 'B', 'C', 'D', 'E', 'F', 'G'].includes(_.toUpper(this.label))) {
                    return _.toUpper(this.label);
                }
                
                return '?';
            },
            
            colorClass: function() {
                if (this.estimate === true) {
                    return 'color-unknown';
                }
                
                switch(_.toLower(this.label)) {
                    case 'a++':
                        return 'color-a-plus-plus'
                    case 'a+':
                        return 'color-a-plus'
                    case 'a':
                        return 'color-a';
                    case 'b':
                        return 'color-b';
                    case 'c':
                        return 'color-c';
                    case 'd':
                        return 'color-d';
                    case 'e':
                        return 'color-e';
                    case 'f':
                        return 'color-f';
                    case 'g':
                        return 'color-g';
                    default:
                        return 'color-unknown';
                }
            }
        }
    }
</script>