<template>
    <div class="vue-filter-set">
        <template v-for="filterItem in filters">
            <search-filter-item
                v-if="filterItem.type === 'search'"
                :name="filterItem.name"
                :field-name="filterItem.fieldName"
                :api-url="filterItem.apiUrl"
                :filter-set-active-filter="activeFilter"
                @filter-expanded="handleFilterExpanded"
                @filter-activated="handleFilterActivated"
                @filter-deactivated="handleFilterDeactivated"
            />
            
            <list-filter-item
                v-if="filterItem.type === 'list'"
                :name="filterItem.name"
                :field-name="filterItem.fieldName"
                :search="filterItem.search"
                :api-url="filterItem.apiUrl"
                :predefined-options="filterItem.options"
                :filter-set-active-filter="activeFilter"
                @filter-expanded="handleFilterExpanded"
                @filter-activated="handleFilterActivated"
                @filter-deactivated="handleFilterDeactivated"
            />

            <range-filter-item
                v-if="filterItem.type === 'range'"
                :name="filterItem.name"
                :field-name="filterItem.fieldName"
                :filter-set-active-filter="activeFilter"
                @filter-expanded="handleFilterExpanded"
                @filter-activated="handleFilterActivated"
                @filter-deactivated="handleFilterDeactivated"
            />
        </template>
    </div>
</template>

<script>
    export default {
        name: "FilterSet",

        props: {
            filters: {
                type: Array,
                default: []
            }
        },

        data() {
            return {
                activeFilter: '',
                filterValues: []
            }
        },

        methods: {
            handleFilterExpanded: function(payload) {
                this.activeFilter = payload.name;
            },

            handleFilterActivated: function(payload) {
                let currentFilters = _.filter(this.filterValues, (filterValue) => {
                    return filterValue.name !== payload.name;
                });
                
                this.$set(this, 'filterValues', [...currentFilters, payload]);
            },

            handleFilterDeactivated: function(payload) {
                this.$set(this, 'filterValues', _.filter(this.filterValues, (filterValue) => {
                    return filterValue.name !== payload.name;
                }));
            }
        },

        watch: {
            filterValues: {
                deep: true,
                handler(filterSet) {
                    this.$emit('filters-changed', filterSet);
                }
            }
        }
    }
</script>
