<template>
    <div class="information-modal" :class="{'has-button': buttonType === 'text'}">
        <a href="#" type="button" data-toggle="modal" :data-target="'#'+id" v-if="buttonType === 'info'">
            <span class="icon-information-icon"></span>
        </a>

        <a href="#" class="widget-link" type="button" data-toggle="modal" :data-target="'#'+id" v-if="buttonType === 'text'">
            <slot name="button-txt"></slot>
        </a>

        <div class="modal fade" :id="id" data-backdrop="static" tabindex="-1" role="dialog" :aria-labelledby="id+'-label'" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered text-modal" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h2 class="modal-title" :id="id+'-label'"><slot name="header"></slot></h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            Sluiten <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <slot></slot>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "InformationModal",

        props: {
            id: {
                type: String,
                default: "information-modal"
            },
            buttonType: {
                type: String,
                default: "info"
            }
        }
    }
</script>
