<template>
    <div class="row overview-loader">
        <div class="col text-center">
            <span class="icon-loader-icon" :class="{'spinner': isLoading}"></span>
        </div>
    </div>
</template>

<script>
    let inViewport = require('vue-in-viewport-mixin').default;

    export default {
        name: "Loader",

        mixins: [inViewport],

        props: {
            isLoading: Boolean
        },

        watch: {
            'inViewport.now': function(visible) {
                this.$emit('loader-visibility', { visible: visible });
            }
        }
    }
</script>
