<template>
    <perfect-scrollbar>
        <h2>Paris Proof Score</h2>

        <information-dropdown>
            <template v-slot:header>
                <slot name="paris-proof-score-info-title"></slot>
            </template>

            <slot name="paris-proof-score-info-content"></slot>
        </information-dropdown>

        <p class="paris-score">
            <span :class="getParisProofColorClass(parisProofScore)">
                Jouw score: <number :from="0" :to="consumption" :duration="1.6"></number>&nbsp;kWh/m²<br>
                De norm: {{ norm }}&nbsp;kWh/m²
            </span>
        </p>
        <div class="row">
            <div class="col-lg-12 col-md-6">
                <div class="paris-proof-score">
                    <eiffel-tower :paris-proof-score="parisProofScore"></eiffel-tower>
                </div>
            </div>
            <div class="col-lg-12 col-md-6">
                <div class="paris-proof-legend">
                    <div class="item">
                        <span class="color color-green"></span> Op of onder de norm
                    </div>
                    <div class="item">
                        <span class="color color-orange"></span> Matige score
                    </div>
                    <div class="item">
                        <span class="color color-red"></span> Slechte score
                    </div>
                </div>

                <div class="paris-proof-about">
                    <slot name="paris-proof-score-content"></slot>
                </div>
            </div>
        </div>
    </perfect-scrollbar>
</template>

<script>
    import parisProofColorClassMixin from '../../mixins/getParisProofColorClass';

    export default {
        name: "ParisProofScore",

        mixins: [parisProofColorClassMixin],

        props: {
            consumption: {
                type: Number,
                default: 0
            },
            norm: {
                type: Number,
                default: 0
            }
        },

        computed: {
            parisProofScore: function () {
                return this.calculateParisProofScore(this.consumption, this.norm);
            }
        }
    }
</script>
