<template>
    <div class="nav-search search-input input-group">
        <input type="text"
               class="form-control"
               :class="{'focused-in': focused}"
               :id="id"
               :name="id"
               :placeholder="placeholder"
               v-model="searchInput"
               v-focus="focused"
               @focus="focused = true"
               @blur="focused = false"
               @keyup="autoComplete"
        >
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><span class="icon-search-icon"></span></button>
        </div>
        <div class="autocomplete-wrapper" v-show="showAutocomplete">
            <div class="auto-complete-item">I am an auto complete item</div>
            <hr>
            <div class="auto-complete-item">I am an <strong>auto complet</strong>e item</div>
            <hr>
            <div class="auto-complete-item">I am an auto complete item</div>
            <hr>
            <div class="auto-complete-item">I am an auto complete item</div>
            <hr>
            <div class="auto-complete-item">I a<strong>m an aut</strong>o complete item</div>
            <hr>
            <div class="auto-complete-item">I am an auto complete item</div>
            <hr>
            <div class="auto-complete-item">I am an auto complete item</div>
        </div>
    </div>
</template>

<script>
    import { mixin as focusMixin }  from 'vue-focus';

    export default {
        name: "Search",

        mixins: [ focusMixin ],

        props: {
            id: {
                type: String
            },
            placeholder: {
                type: String,
                default: "Zoeken"
            }
        },

        data() {
            return {
                searchInput: "",
                focused: false,
                keyUp: false
            }
        },

        computed: {
            searchEmpty: function () {
                return _.isEmpty(this.searchInput);
            },

            showAutocomplete: function () {
                return this.keyUp === true && this.focused === true && this.searchEmpty === false;
            }
        },

        methods: {
            autoComplete: _.debounce(function () {
                this.keyUp = true;
            }, 200)
        }
    }
</script>
