<template>
    <table class="table">
        <thead>
        <tr>
            <th>Label</th>
            <th>Aantal</th>
        </tr>
        </thead>
        <tbody>
        <tr v-if="tableData.zeroToThreeYears >= 1">
            <td>0 - 3 jaar</td>
            <td><number :from="0" :to="tableData.zeroToThreeYears" :duration="1.6" ></number></td>
        </tr>
        <tr v-if="tableData.threeToSevenYears >= 1">
            <td>3 - 7 jaar</td>
            <td><number :from="0" :to="tableData.threeToSevenYears" :duration="1.6" ></number></td>
        </tr>
        <tr v-if="tableData.sevenYears >= 1">
            <td>7 jaar</td>
            <td><number :from="0" :to="tableData.sevenYears" :duration="1.6" ></number></td>
        </tr>
        <tr v-if="tableData.eightYears >= 1">
            <td>8 jaar</td>
            <td><number :from="0" :to="tableData.eightYears" :duration="1.6" ></number></td>
        </tr>
        <tr v-if="tableData.nineYears >= 1">
            <td>9 jaar</td>
            <td><number :from="0" :to="tableData.nineYears" :duration="1.6" ></number></td>
        </tr>
        <tr v-if="tableData.expired >= 1">
            <td>Verlopen</td>
            <td><number :from="0" :to="tableData.expired" :duration="1.6" ></number></td>
        </tr>
        <tr v-if="tableData.noLabel >= 1">
            <td>Geen label</td>
            <td><number :from="0" :to="tableData.noLabel" :duration="1.6" ></number></td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        name: "TableExpirationDateAge",

        props: {
            tableData: {
                type: Object
            }
        }
    }
</script>