<template>
    <div class="col-12 year-slider-wrapper">
        <div class="inner">
            <div class="row slider-text">
                <div class="col-6"><p><strong>Neem een kijkje in de toekomst</strong></p></div>
                <div class="col-6 text-right"><p>Hoe sta je er voor in <span>{{ year }}</span></p></div>
            </div>
            <input v-model.number="year" type="range" :min="startRange" :max="endRange">
            <div class="ticks">
                <div
                    class="tick"
                    v-for="tick in ticks"
                    :class="{ 'in-past': (tick < year), 'current-year': ( tick === year ), 'in-future': ( tick > year ), 'tick-lg': ( isDecade(tick) ) }"
                    @click="year = tick"
                >
                    <span class="tick-year" v-if="isDecade(tick)">
                        {{ tick }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "YearSlider",

        props: {
            initialYear: {
                type: Number,
                default: 2034
            }
        },

        data() {
            return {
                year: this.initialYear,
                startRange: 2020,
                endRange: 2050
            }
        },

        computed: {
            ticks: function() {
                return _.range(this.startRange, (this.endRange + 1), 1);
            }
        },

        methods: {
            yearChanged: _.debounce(function() {
                this.$emit('year-changed', { year: this.year });
            }, 250),

            isDecade: function(year) {
                return year % 10 === 0;
            }
        },

        watch: {
            year: function() {
                this.yearChanged();
            }
        }
    }
</script>
