<template>
    <div class="tab-content" v-show="active">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "Tab",

        props: {
          name: {
              type: String,
              required: true
          },
          active: {
              type: Boolean,
              default: false
          }
        },

        computed: {
            href() {
                return '#' + this.name.toLowerCase().replace(/ /g, '-');
            }
        }
    }
</script>
