<template>
    <div class="tab-wrapper">
        <ul class="toggles">
            <li v-for="tab in tabs">
                <a :href="tab.href" class="nav-link" :class="{ 'active': tab.active }" @click.prevent="selectedTab(tab)">{{ tab.name }}</a>
            </li>
        </ul>
        <div class="tab-details">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Tabs",

        mounted() {
            let tabs = [];

            this.$children.forEach(child => {
                if (child.$options._componentTag !== 'tab') {
                    return;
                }

                tabs.push(child);
            });

            this.tabs = tabs;
        },

        data() {
            return {
                tabs: []
            }
        },

        methods: {
            selectedTab(selectedTab) {
                this.tabs.forEach(tab => {
                    tab.active = (tab.name === selectedTab.name);
                });
            }
        }
    }
</script>
