<template>
    <div class="filter-item">
        <a href="#" class="btn-filter" @click.prevent="toggle" :class="{'active': expanded || active}">
            {{ name }}
        </a>

        <div class="filter-dropdown" v-show="expanded === true">
            <h3>Filteren op {{ nameLowerCase }}</h3>

            <div class="inner">
                <div class="list-overview">
                    <perfect-scrollbar>
                        <div class="form-check" v-for="(option, index) in filterOptions" :key="index">
                            <input class="form-check-input" type="checkbox" v-model="option.checked" :id="`check-${ name }-${ index }`">
                            
                            <span class="checkmark"></span>
                            
                            <label class="form-check-label" :for="`check-${ name }-${ index }`">
                                {{ option.value }}
                            </label>
                        </div>
                    </perfect-scrollbar>

                    <div class="footer">
                        <a href="#" @click.prevent="reset">Wissen</a>
                        <a href="#" class="btn-white" @click.prevent="save">Opslaan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import {genericFilterItem} from '../../../mixins/genericFilterItem.js';

    export default {
        name: "ListFilterItem",

        mixins: [genericFilterItem],

        props: {
            predefinedOptions: {
                type: Array,
                required: true
            }
        },

        data() {
            return {
                filterOptions: []
            }
        },
        
        mounted() {
            this.filterOptions = _.map(this.predefinedOptions, (option) => {
                return { value: option, checked: false };
            });
        },
        
        methods: {
            save: function () {
                if (_.isNil(_.find(this.filterOptions, { 'checked': true }))) {
                    this.toggle();
                    return;
                }
                
                this.active = true;

                this.toggle();

                this.$emit(
                    'filter-activated',
                    {
                        name: this.fieldName,
                        exact: _.map(_.filter(this.filterOptions, { 'checked': true }), 'value')
                    }
                );
            },

            reset: function () {
                this.active = false;
                
                _.each(this.filterOptions, (filterOption) => {
                    filterOption.checked = false
                });

                this.toggle();

                this.$emit(
                    'filter-deactivated',
                    {
                        name: this.fieldName
                    }
                );
            }
        }
    }
</script>
