<template>
    <div class="filter-item">
        <a href="#" class="btn-filter" @click.prevent="toggle" :class="{'active': expanded || active}">
            {{ name }}
        </a>

        <div class="filter-dropdown" v-show="expanded === true">
            <h3>Filteren op {{ nameLowerCase }}</h3>
            
            <div class="inner">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label :for="`filter-${name}-minimum`">minimum</label>
                            <input type="number" min="0" class="form-control" :for="`filter-${name}-minimum`" v-model.number="min">
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="form-group">
                            <label :for="`filter-${name}-maximum`">maximum</label>
                            <input type="number" min="0" class="form-control" :for="`filter-${name}-maximum`" v-model.number="max">
                        </div>
                    </div>
                </div>
                
                <div class="footer">
                    <a href="#" @click.prevent="reset">Wissen</a>
                    <a href="#" class="btn-white" @click.prevent="save">Opslaan</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {genericFilterItem} from '../../../mixins/genericFilterItem.js';

    export default {
        name: "RangeFilterItem",

        mixins: [genericFilterItem],

        data() {
            return {
                min: 0,
                max: 0
            }
        },

        methods: {
            save: function() {
                this.active = true;

                this.toggle();

                this.$emit(
                    'filter-activated',
                    {
                        name: this.fieldName,
                        min: this.min,
                        max: this.max
                    }
                );
            },

            reset: function() {
                this.active = false;
                this.min = 0;
                this.max = 100;

                this.toggle();

                this.$emit(
                    'filter-deactivated',
                    {
                        name: this.fieldName
                    }
                );
            }
        }
    }
</script>
