<template>
    <div class="filter-item">
        <a href="#" class="btn-filter" @click.prevent="toggle" :class="{'active': expanded || active}">
            {{ name }}
        </a>

        <div class="filter-dropdown" v-show="expanded === true">
            <h3>Filteren op {{ nameLowerCase }}</h3>

            <div class="inner">
                <input type="text" class="filter-search" v-model="query" :placeholder="'Zoek op ' + nameLowerCase">

                <div class="list-overview">
                    <perfect-scrollbar>
                        <div class="form-check" v-for="filterOption in filterOptions" :key="`filterOption-${filterOption.value}`">
                            <input class="form-check-input" type="checkbox" :checked="filterOption.checked" @change="selectFilterOption" :value="filterOption.value" :id="`filterOption-${ filterOption.value }`">
                            
                            <span class="checkmark"></span>
                            
                            <label class="form-check-label" :for="`filterOption-${ filterOption.value }`">
                                {{ filterOption.value }}
                            </label>
                        </div>
                        
                        <div v-show="shouldShowCheckedOptions" class="form-check" v-for="checkedOption in checkedOptions" :key="`checkedOption-${checkedOption}`">
                            <input class="form-check-input" type="checkbox" checked="checked" @change="selectFilterOption" :value="checkedOption" :id="`checkedOption-${ checkedOption }`">
                            
                            <span class="checkmark"></span>
                            
                            <label class="form-check-label" :for="`checkedOption-${ checkedOption }`">
                                {{ checkedOption }}
                            </label>
                        </div>
                    </perfect-scrollbar>
    
                    <div class="footer">
                        <a href="#" @click.prevent="reset">Wissen</a>
                        <a href="#" class="btn-white" @click.prevent="save">Opslaan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import {genericFilterItem} from '../../../mixins/genericFilterItem.js';

    export default {
        name: "SearchFilter",

        mixins: [genericFilterItem],

        props: {
            apiUrl: {
                type: String,
                required: true
            }
        },

        data() {
            return {
                query: null,
                checkedOptions: [],
                filterOptions: []
            }
        },
        
        computed: {
            shouldShowCheckedOptions: function() {
                return _.isNil(this.query) || _.isEmpty(this.query);
            }
        },

        methods: {
            selectFilterOption: function(event) {
                let checkedOptions = _.filter(this.checkedOptions, (checkedOption) => {
                    return checkedOption !== event.target.value
                });

                if (event.target.checked === true) {
                    this.$set(this, 'checkedOptions', [...checkedOptions, event.target.value].sort());
                    
                    return;
                }
                
                this.$set(this, 'checkedOptions', [...checkedOptions].sort());
            },
            
            save: function () {
                if (_.isEmpty(this.checkedOptions)) {
                    this.toggle();
                    return;
                }
                
                this.active = true;

                this.toggle();

                this.$emit(
                    'filter-activated',
                    {
                        name: this.fieldName,
                        exact: this.checkedOptions
                    }
                );
            },

            reset: function () {
                this.active = false;
                this.query = null;
                this.$set(this, 'filterOptions', []);
                this.$set(this, 'checkedOptions', []);
                
                this.toggle();

                this.$emit(
                    'filter-deactivated',
                    {
                        name: this.fieldName
                    }
                );
            }
        },
        
        watch: {
            query: _.debounce(function(q) {
                this.$set(this, 'filterOptions', []);

                if (_.isString(q) === false || q.length === 0) {
                    return;
                }

                axios.post(this.apiUrl, { field: this.fieldName, text: q })
                    .then(response => {
                        let filterOptions = _.map(response.data.data, 'text');
                        
                        filterOptions = _.map(filterOptions, option => {
                            return { value: option, checked: (_.indexOf(this.checkedOptions, option) > -1) }
                        });
                        
                        this.$set(this, 'filterOptions', filterOptions);
                    })
                    .catch(error => {
                        this.$set(this, 'filterOptions', []);
                    });
            }, 250)
        }
    }
</script>
