.alert {
    display: inline-flex;
    align-items: center;
    padding: 0 15px;
    border-radius: $border-radius;
    min-height: 50px;
    span {
        margin-right: 10px;
        &:before {
            color: $color-white;
            font-size: 24px;
        }
    }
    &.alert-warning {
        background-color: $color-orange;
        color: $color-white;
    }
    &.alert-success {
        background-color: $color-green;
        color: $color-white;

    }
    &.alert-error {
        background-color: $color-red;
        color: $color-white;
    }
    a {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        border-left:1px solid $color-white;
        margin-left: 15px;
        font-weight: $font-weight-bold;
    }
}
