.auth-password-group {
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .toggle-icon {
        position: absolute;
        right: 15px;
        top: calc( 50% - 7px );
        &:before {
            color: rgba($color-primary, 0.5);
        }
        &:hover {
            cursor: pointer;
            &:before {
                color: rgba($color-primary, 0.75);
            }
        }
        &.icon-eye-closed-icon {
            top: calc( 50% - 8px );
            &:before {
                font-size: 17.49px;
            }
        }
    }
    &.has-error {
        .toggle-icon {
            right: 35px;
        }
        .form-control {
            padding-right: 65px;
        }
    }
}
