.btn-primary {
    display: inline-block;
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-white;
    padding: 20px;
    @include transition;
    text-align: center;
    font-size: 1.6rem;
    font-weight: $font-weight-medium;
    span {
        display:inline-block;
        margin-right: 10px;
        @include transition;
        &:before {
            color: inherit;
        }
    }
    &:hover {
        background-color: darken($color-primary, 10%);
        text-decoration: none;
        span {
            transform: rotate(90deg);
        }
    }
    &.btn-sm{
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: $font-weight-bold;
    }
    &.disabled,
    &:disabled {
        border-color: $color-light-grey;
        background-color: $color-light-grey;
        color: $color-secondary;
    }
}

.btn-filter {
    border: 2px solid $color-secondary;
    padding:10px 25px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    display:inline-block;
    border-radius: $border-radius-round;
    @include transition;
    &:hover,
    &.active{
        background-color: $color-secondary;
        color: $color-white;
        text-decoration: none;
    }
}

.btn-white {
    display: inline-block;
    background-color: $color-white;
    color: $color-secondary;
    padding: 10px 30px;
    @include transition;
    text-align: center;
    font-size: 1.4rem;
    font-weight: $font-weight-bold;
    border-radius: $border-radius;
    &:hover {
        color: $color-secondary;
        background-color: darken($color-white, 20%);
        text-decoration: none;
    }
}

.btn-grey {
    display: inline-block;
    background-color: $color-light-grey;
    color: $color-secondary;
    padding: 20px;
    @include transition;
    text-align: center;
    font-size: 1.6rem;
    font-weight: $font-weight-medium;
    &:hover {
        background-color: darken($color-light-grey, 10%);
        text-decoration: none;
    }
    &.btn-sm{
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: $font-weight-bold;
    }
}

.btn-dark {
    background-color: $color-secondary;
    &:hover {
        background-color: lighten($color-secondary, 5%);
    }
}

button.btn-primary {
    border:none;
}

@media screen and (max-width: 1440px) {
    .btn-filter {
        padding: 10px 20px;
    }
}
@include media-breakpoint-down(sm) {
    .btn-filter {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 340px) {
    .btn-primary,
    .btn-grey {
        font-size: 1.4rem;
    }
}
