.vue-percentage-chart {
    &.inline-percentage {
        position: relative;
        .textual-percentage {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: $color-primary;
            font-weight: $font-weight-bold;
            font-size: 2em;
        }
    }
    &.side-percentage {
        display: flex;
        align-items: center;
        .vue-chart-js {
            display:inline-block;
        }
        .textual-percentage {
            display:inline-block;
            font-size: 1.8rem;
            font-weight: $font-weight-bold;
            color: $color-primary;
            margin-left: 15px;
        }
    }
}

.widget-chart {
    & > div {
        position: relative;
        width: 100%;
    }
}

.vue-chart {
    &.inline-text {
        .vue-chart-wrapper {
            position: relative;
            .vue-chart-text {
                z-index: -1;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                text-align: center;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: $color-text;
                font-size: 0.9em;
                line-height: 1.3em;
                strong {
                    display: block;
                }
            }
        }
    }
    .vue-chart-legend {
        ul {
            list-style: none;
            padding: 0;
            li {
                margin-bottom: 10px;
                align-items: center;
                display: inline-flex;
                width: 100%;
                span {
                    width: 20px;
                    height: 20px;
                    border-radius: 3px;
                    display: inline-block;
                    margin-right: 10px;
                    flex-shrink: 0;
                }
            }
        }
    }
    &.vue-chart-building-energy-labels {
        .vue-chart-legend {
            ul {
                li {
                    margin-bottom: 10px;
                    width: 50%;
                    padding-right: 5px;
                }
            }
        }
    }
    &.chart-percentage {
        .vue-chart-legend {
            ul {
                li {
                    span {
                        &.chart-legend {
                            width: 20px;
                            height: 20px;
                            border-radius: 3px;
                            display: inline-block;
                            margin-right: 10px;
                        }
                        &.chart-legend-label-text {
                            height: auto;
                            width: auto;
                        }
                        &.chart-percentage {
                            font-size: 1rem;
                            color: rgba($color-secondary, 0.5);
                            margin: 0;
                            height: auto;
                            width: auto;
                        }
                    }
                }
            }
        }
    }
    &.vue-chart-building-energy-labels {
        &.legend-top {
            .vue-chart-legend {
                margin-bottom: 10px;
                ul {
                    li {
                        width: 25%;
                    }
                }
            }
        }
    }
    &.vue-chart-investment-vs-savings,
    &.vue-chart-measure-consumption,
    &.vue-chart-measures,
    &.vue-chart-buildings {
        .vue-chart-legend {
            ul {
                display: block;
                text-align: center;
                li {
                    display: inline-flex;
                    align-content: center;
                    margin-right: 20px;
                    width: auto;
                }
            }
        }
    }
}