.energy-label-wrap {
    position: relative;
    color: $color-white;
    font-weight: $font-weight-bold;
    font-size: 1.8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 40px;

    &.small {
        font-size: 1.6rem;
        width: 45px;
        height: 30px;

        .icon-energy-label {
            &:before {
                font-size: 30px;
            }
        }
    }

    .icon-energy-label {
        position: absolute;
        top: 1px;
        left: 0;
        z-index: -1;

        &:before {
            font-size: 40px;
        }

        &.color-a-plus-plus {
            &:before {
                color: #22542D;
            }
        }

        &.color-a-plus {
            &:before {
                color: #007643;
            }
        }

        &.color-a {
            &:before {
                color: #549C14;
            }
        }

        &.color-b {
            &:before {
                color: #AAD962;
            }
        }

        &.color-c {
            &:before {
                color: #EEDB28;
            }
        }

        &.color-d {
            &:before {
                color: #CC4747;
            }
        }

        &.color-e {
            &:before {
                color: #CC4747;
            }
        }

        &.color-f {
            &:before {
                color: #CC4747;
            }
        }

        &.color-g {
            &:before {
                color: #CC4747;
            }
        }

        &.color-unknown {
            &:before {
                color: #CCC;
            }
        }
    }
}