.filter-item {
    display: inline-block;
    position: relative;
    .filter-dropdown {
        position: absolute;
        top: 60px;
        left: 0;
        width: 390px;
        padding: 30px;
        background-color: $color-secondary;
        color: $color-white;
        border-radius: $border-radius;
        z-index: 1;
        .inner {
            margin-top: 25px;
        }
        .footer {
            margin-top: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

@import 'filter-list';
@import 'filter-range';

@include media-breakpoint-down(md) {
    .filter-item {
        .filter-dropdown {
            width: 250px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .filter-item {
        display: block;
        .filter-dropdown {
            width: 100%;
            top: 55px;
        }
    }
}
