ul.folders {
    margin-top: 25px;
    padding: 0;
    list-style: none;
    margin-right: 0;
    & > li {
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
        &:hover {
            background-color: rgba($color-light-grey, 0.5);
        }
        a {
            display: block;
        }
        span.icon-map-closed-icon,
        span.icon-map-open-icon {
            display: inline-block;
            margin-right: 15px;
        }
        ul.subfolder {
            margin: 25px 0 25px 10px;
            list-style: none;
            padding-left: 0;
            border-left: 2px solid $color-secondary;
            li {
                padding-left: 30px;
                padding-top: 10px;
                padding-bottom: 10px;
                .amount {
                    width: 34.3333333333%;
                }
                ul.subfolder {
                    li {
                        .amount {
                            width: 35.533333%;
                        }
                        ul.subfolder {
                            li {
                                .amount {
                                    width: 36.733333%;
                                }
                            }
                        }
                    }
                }
                &.active {
                    background-color: $color-light-grey;
                }
            }
        }
    }
    .amount {
        float: right;
        display: inline-block;
        width: 33.3333333333%;
        height: auto;
        text-align: left;
    }
}

.favorite-file {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
}

.recent-file {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    span {
        margin-right: 15px;
        display: inline-block;
        font-size: 18px;
    }
}

@media screen and (max-width: 1920px) {
    ul.folders {
        & > li {
            ul.subfolder {
                li {
                    .amount {
                        width: 34.733333%;
                    }
                    ul.subfolder {
                        li {
                            .amount {
                                width: 36.333333%;
                            }
                            ul.subfolder {
                                li {
                                    .amount {
                                        width: 38.333333%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1920px) {
    ul.folders {
        & > li {
            ul.subfolder {
                li {
                    .amount {
                        width: 35.033333%;
                    }
                    ul.subfolder {
                        li {
                            .amount {
                                width: 37.033333%;
                            }
                            ul.subfolder {
                                li {
                                    .amount {
                                        width: 39.133333%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    ul.folders {
        & > li {
            ul.subfolder {
                li {
                    padding-left: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    ul.folders {
        & > li {
            ul.subfolder {
                li {
                    padding-left: 15px;
                }
            }
        }
    }
}