.filter-dropdown {
    .filter-search {
        background-color: rgba($color-white, 0.1);
        color: $color-white;
        padding: 15px 25px;
        border-radius: $border-radius-round;
        width: 100%;
        border: none;
        &::placeholder {
            color: $color-white;
            font-weight: $font-weight-bold;
        }
        &:focus {
            outline: 0;
        }
    }
    .list-overview {
        margin-top: 25px;
        .ps {
            max-height: 170px;
            .form-check {
                margin-bottom: 15px;
                padding-left: 0;
                position: relative;
                &:last-child {
                    margin-bottom: 0;
                }
                .form-check-input {
                    position: absolute;
                    opacity: 0;
                    height: 0;
                    width: 0;
                    &:checked {
                        & ~ .checkmark {
                            background-color: $color-primary;
                            &:after {
                                display: block;
                            }
                        }
                    }
                }
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 20px;
                    width: 20px;
                    background-color: $color-white;
                    z-index: -1;
                    &:after {
                        content: '';
                        position: absolute;
                        display:none;
                        left: 9px;
                        top: 5px;
                        width: 5px;
                        height: 10px;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }
                .form-check-label {
                    padding-left: 35px;
                    cursor: pointer;
                }
            }
        }
    }
}
