.filter-dropdown {
    .form-group {
        margin-bottom: 0;
        .form-control {
            background-color: rgba($color-white, 0.1);
            color: $color-white;
            border: none;
            &::placeholder {
                color: $color-white;
            }
            &:focus {
                outline: 0;
                box-shadow: unset;
            }
        }
    }
}
