.information-popup,
.information-modal{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    .icon-information-icon {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:hover {
            cursor: pointer;
        }
        &:before {
            font-size: 22px;
        }
    }
    .information-dropdown {
        background-color: $color-secondary;
        position: absolute;
        z-index: 1;
        right: 0;
        width: 330px;
        color: $color-white;
        padding: 25px;
        .information-dropdown-header {
            display: flex;
            justify-content: space-between;

            h2 {
                display: inline-block;
                max-width: 79%;
            }
            a {
                float: right;
            }
        }
        .information-dropdown-content {
            p, h3 {
                margin-bottom: 20px;
            }
            hr {
                opacity: 0.1;
                border-top: 2px solid $color-white;
                margin-top: 0;
                margin-bottom: 20px;
            }
        }
    }
    &.active {
        background-color: $color-secondary;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        .icon-information-icon {
            position: relative;
            z-index: 1;
            &:before {
                color: $color-white;
            }
        }
    }
}

.usage-slider {
    .information-modal {
        padding: 0;
        .overview-wrapper {
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 1440px) {
    .information-popup .information-dropdown,
    .information-modal .information-dropdown {
        width: 270px;
    }
}
@media screen and (max-width: 767px) {
    .widget-actions .information-popup {
        padding-top: 0;
    }
}
@media screen and (max-width: 330px) {
    .information-popup .information-dropdown,
    .information-modal .information-dropdown {
        width: 240px;
    }
}