.overview-loader {
    margin-top: 25px;
    span.icon-loader-icon {
        display: inline-block;
        font-size: 26px;
        &:before {
            color: rgba($color-secondary, 0.2);
        }
        &.spinner {
            animation: rotate 0.5s linear infinite;
        }
    }
}

@keyframes rotate{
    to{ transform: rotate(-360deg); }
}
