.search-input {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    border-radius: $border-radius;
    @include transition;
    .form-control {
        border:none;
        font-weight: $font-weight-bold;
        color: $color-secondary;
        height:44px;
        width:175px;
        @include transition;
        @include media-breakpoint-down(lg) {
            width: unset;
        }
        &::placeholder {
            color: $color-secondary;
        }
        &:focus {
            box-shadow: unset;
        }
    }
    .btn-outline-secondary {
        border: none;
        color: $color-secondary;
        background-color: $color-white;
        &:hover{
            background-color: $color-white;
        }
        &:focus{
            box-shadow: unset;
        }
        span.icon-search-icon {
            font-size: 2.2rem;
        }
    }
    &:focus-within {
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    }
    &.nav-search {
        position: relative;
        .form-control,
        .input-group-append {
            position: relative;
            z-index: 10;
        }
        .focused-in {
            width: 350px;
        }
    }
    .autocomplete-wrapper {
        width: 100%;
        padding: 25px 20px 20px;
        position: absolute;
        top: 40px;
        background-color: $color-white;
        z-index: 1;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
        hr {
            border-top: 1px solid $color-grey;
            width: 98%;
        }
    }
}

@include media-breakpoint-down(sm) {
    .search-input{
        &.nav-search {
            .focused-in {
                width: 100%;
            }
        }
    }
}
