table.table {
    color: $color-secondary;
}
table.table:not(.overview-table) {
    margin-top: 15px;
    thead {
        th {
            border: none;
            padding-left: 30px;
            &:last-child {
                text-align: right;
                padding-right: 30px;
            }
        }
    }
    tbody {
        tr {
            &:nth-child(odd) {
                background-color: $color-light-grey;
            }
            td {
                border:none;
                padding-left: 30px;
                &:last-child {
                    text-align: right;
                    padding-right: 30px;
                }
            }
        }
    }
}

table.table.overview-table {
    thead {
        tr {
            th {
                border: none;
                font-size: 1.2rem;
                text-transform: uppercase;
                font-weight: $font-weight-bold;
                padding: 10px;
                &:first-child {
                    min-width: 145px;
                    width: 145px;
                }
            }
        }
    }
    tbody {
        &:before {
            content: '';
            display: block;
            height: 25px;
        }
        tr {
            td {
                border: none;
                padding: 10px;
                vertical-align: middle;
                &:first-child {
                    text-align: center;
                }
                span.icon-parisproof-icon {
                    &:before {
                        font-size: 37px;
                    }
                    &.color-red {
                        color: $color-red;
                    }
                    &.color-orange {
                        color: $color-orange;
                    }
                    &.color-green {
                        color: $color-green;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    table.table.overview-table {
        width: max-content;
    }
}
