ul.toggles {
    background-color: $color-light-grey;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 50px;
    border-radius: $border-radius;
    padding: 0;
    li {
        flex: auto;
        padding: 5px;
        a{
            text-align: center;
            padding:10px;
            color: $color-secondary;
            font-weight: $font-weight-bold;
            border-radius: $border-radius;
            @include transition;
            height: 100%;
            display: inline-flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            &:hover,
            &.active{
                text-decoration: none;
                background-color: $color-secondary;
                color: $color-white;
            }
        }
    }
}
