.widget-item {
    margin-top: 50px;
    &:nth-child(odd) {
        padding-right: 25px;
    }
    &:nth-child(even) {
        padding-left: 25px;
    }
    .inner {
        padding: 30px;
        @include box-shadow;
    }
    h2 {
        display: inline-block;
    }
    .widget-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        .widget-info {
            padding-left: 25px;
            flex: 1;
            &.widget-table {
                min-width: 300px;
            }
            h3 {
                & > span {
                    color: $color-primary;
                    font-size: 2.4rem;
                    margin-left: 15px;
                }
            }
            p {
                margin-top: 20px;
                &:first-child {
                    margin-top: 30px;
                }
            }
        }
    }
}
.widget-actions {
    float: right;
    display: inline-flex;
    align-items: center;
    .widget-link {
        font-weight: $font-weight-bold;
        margin-right: 25px;
    }
    .information-popup {
        display: inline-block;
    }
}

.overview-buildings {
    .widget-chart {
        max-width: 380px;
        width: 100%;
    }
}
.measures-widget {
    .widget-chart {
        width: 100%;
    }
}

@media screen and (max-width: 1680px) {
    .overview-buildings {
        .widget-chart {
            max-width: 290px;
        }
    }
}

@media screen and (max-width: 1560px) and (min-width: 1441px) {
    .widget-item {
        .widget-wrapper {
            .widget-info {
                h3 {
                    & > span {
                        display: block;
                        margin-left: 0;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1680px) {
    .app-dashboard-widget-overview {
        .status-labels-widget {
            .widget-wrapper {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .building-files,
    .measures-widget,
    .usage-slider {
        .widget-actions {
            float: none;
            justify-content: space-between;
            margin-bottom: 10px;
            width: 100%;
            .information-modal:not(.has-button),
            .information-popup  {
                position: absolute;
                top: 30px;
                right: 30px;
            }
        }
    }
    .app-dashboard-overview {
        .widget-item {
            .inner {
                height :auto;
            }
            .widget-wrapper {
                flex-wrap: wrap;
                flex-direction: column;
                .widget-table {
                    margin-top: 25px;
                }
                .widget-info {
                    padding-left: 0;
                    margin-top: 25px;
                }
                .widget-chart > div {
                    width: 50%;
                    margin: 0 auto;
                }
            }
            &.measures-widget {
                .widget-wrapper {
                    .widget-chart > div,
                    .widget-chart {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .app-dashboard-overview {
        .widget-item {
            .widget-wrapper {
                .widget-chart > div {
                    width: 60%;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .overview-buildings {
        .widget-actions {
            float: none;
            justify-content: space-between;
            margin-bottom: 10px;
            width: 100%;
            .information-modal,
            .information-popup {
                position: absolute;
                top: 30px;
                right: 30px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .widget-item {
        &:nth-child(odd) {
            padding-right: 15px;
        }
        &:nth-child(even) {
            padding-left: 15px;
        }
    }
}

@media screen and (max-width: 600px) {
    .app-dashboard-overview {
        .widget-item {
            .widget-wrapper {
                .widget-chart {
                    width: 100%;
                    & > div {
                        width: 90%;
                    }
                }
                .widget-info{
                    &.widget-table {
                        min-width: 100%;
                    }
                }
            }
        }
    }
}