// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.5.2
// MIT License

$track-color: $color-light-grey !default;
$thumb-color: $color-primary !default;

$thumb-radius: 43px !default;
$thumb-height: 43px !default;
$thumb-width: 43px !default;
$thumb-shadow-size: 0px !default;
$thumb-shadow-blur: 0px !default;
$thumb-shadow-color: rgba(0, 0, 0, .2) !default;
$thumb-border-width: 0px !default;
$thumb-border-color: $color-primary !default;

$track-width: 100% !default;
$track-height: 2px !default;
$track-shadow-size: 2px !default;
$track-shadow-blur: 2px !default;
$track-shadow-color: rgba($color-light-grey, .2) !default;
$track-border-width: 2px !default;
$track-border-color: $color-light-grey !default;

$track-radius: 5px !default;
$contrast: 5% !default;

$ie-bottom-track-color: darken($track-color, $contrast) !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
    box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
    cursor: default;
    height: $track-height;
    transition: all .2s ease;
    width: $track-width;
}

@mixin thumb {
    @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
    background: $thumb-color;
    border: $thumb-border-width solid $thumb-border-color;
    border-radius: $thumb-radius;
    box-sizing: border-box;
    cursor: default;
    height: $thumb-height;
    width: $thumb-width;
}

[type='range'] {
    -webkit-appearance: none;
    background: transparent;
    margin: $thumb-height / 2 0;
    width: $track-width;

    &::-moz-focus-outer {
        border: 0;
    }

    &:focus {
        outline: 0;

        &::-webkit-slider-runnable-track {
            background: lighten($track-color, $contrast);
        }

        &::-ms-fill-lower {
            background: $track-color;
        }

        &::-ms-fill-upper {
            background: lighten($track-color, $contrast);
        }
    }

    &::-webkit-slider-runnable-track {
        @include track;
        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
        background: $track-color;
        border: $track-border-width solid $track-border-color;
        border-radius: $track-radius;
    }

    &::-webkit-slider-thumb {
        @include thumb;
        -webkit-appearance: none;
        margin-top: ((-$track-border-width * 2 + $track-height) / 2 - $thumb-height / 2);
        background-image: url("/images/slider-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        position: relative;
        z-index: 99;
    }

    &::-moz-range-track {
        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
        @include track;
        background: $track-color;
        border: $track-border-width solid $track-border-color;
        border-radius: $track-radius;
        height: $track-height / 2;
    }

    &::-moz-range-thumb {
        @include thumb;
        background-image: url("/images/slider-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        position: relative;
        z-index: 99;
    }

    &::-ms-track {
        @include track;
        background: transparent;
        border-color: transparent;
        border-width: ($thumb-height / 2) 0;
        color: transparent;
    }

    &::-ms-fill-lower {
        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
        background: $ie-bottom-track-color;
        border: $track-border-width solid $track-border-color;
        border-radius: ($track-radius * 2);
    }

    &::-ms-fill-upper {
        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
        background: $track-color;
        border: $track-border-width solid $track-border-color;
        border-radius: ($track-radius * 2);
    }

    &::-ms-thumb {
        @include thumb;
        margin-top: $track-height / 4;
        background-image: url("/images/slider-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        position: relative;
        z-index: 99;
    }

    &:disabled {
        &::-webkit-slider-thumb,
        &::-moz-range-thumb,
        &::-ms-thumb,
        &::-webkit-slider-runnable-track,
        &::-ms-fill-lower,
        &::-ms-fill-upper {
            cursor: not-allowed;
        }
    }
}

.app-dashboard-year-slider {
    .year-slider-wrapper {
        .inner {
            @include box-shadow;
            background-color: $color-white;
            padding: 30px 15px 0;
            .slider-text {
                font-size: 1.8rem;
                span {
                    color: $color-primary;
                    font-weight: $font-weight-bold;
                    margin-left: 15px;
                    display:inline-block;
                }
            }
            .ticks {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding: 0 21.5px;
                margin-top: -8px;
                .tick {
                    height: 20px;
                    width: 1px;
                    background-color: $color-primary;
                    position: relative;
                    cursor: pointer;
                    &.tick-lg {
                        height: 40px;
                        width: 2px;
                    }
                    &.in-past {
                        background-color: $color-secondary;
                    }
                    &.in-future {
                        background-color: rgba($color-secondary, 0.3);
                    }
                    .tick-year {
                        position: absolute;
                        top: -25px;
                        left: calc( -31.81px / 2 );
                        font-weight: $font-weight-bold;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 600px) {
    .app-dashboard-year-slider {
        .year-slider-wrapper {
            .inner {
                .slider-text {
                    font-size: 1.6rem;
                }
            }
        }
    }
}