form {
    & > h3 {
        display: block;
        &:first-child {
            margin-top: 0;
        }
    }
    h3 {
        margin-top: 18px;
        margin-bottom: 18px;
    }
}
.form-group{
    margin-bottom: 18px;
    .help {
        font-size: 1rem;
    }
}
.form-control {
    height: 52px;
    font-size: 1.6rem;
    color: $color-form-text;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgba($color-secondary, 0.5);
    &:focus {
        color: $color-form-text;
        border-color: rgba($color-primary, 0.75);
        box-shadow: 0 0 0 0.2rem rgba($color-primary, 0.25);
    }
    &:disabled,
    &[readonly] {
        background-color: $color-white;
    }
}

.help-form-link {
    display: block;
    text-align: right;
    color: $color-black;
    text-decoration: underline;
    margin-top: 18px;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

textarea.form-control {
    resize: none;
}
