.navbar {
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    background-color: $color-white;
    height: 70px;
    @include media-breakpoint-down(lg) {
        height: auto;
    }
    @include media-breakpoint-down(xs) {
        padding-left: 30px;
        padding-right: 30px;
    }
    .navbar-toggler {
        border: none;
        &:focus {
            outline: 0;
        }
        .navbar-toggler-icon {
            width: 2em;
            height: 2em;
        }
    }
    .navbar-brand {
        img {
            max-width: 140px;
            width:100%;
        }
    }
    .navbar-nav {
        .nav-item {
            font-size: 1.6rem;
            text-transform: uppercase;
            &.active {
                font-weight: $font-weight-bold;
            }
            &:hover:not(.active) {
                .nav-link{
                    color: lighten($color-secondary, 20%)
                }
            }
            .nav-link {
                color: $color-secondary;
                padding: 18px 20px;
                @include transition;
                @media screen and (max-width:1280px) {
                    padding: 18px 10px;
                }
                @include media-breakpoint-down(lg) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        .nav-add-widget {
            margin-left: 25px;
            @include media-breakpoint-down(lg) {
                margin-left: 0;
                margin-top: 25px;
            }
        }

        .nav-logged-in-user {
            margin-left: 50px;
            display: inline-flex;
            @media screen and (max-width:1280px) {
                margin-left: 25px;
            }
            @include media-breakpoint-down(lg) {
                margin-left: 0;
                margin-top: 25px;
            }
            .logged-in-user-logo {
                img {
                    max-width:60px;
                }
            }
            .logged-in-user-name {
                margin-left: 30px;
                font-weight: $font-weight-bold;
                line-height: 2.8rem;
                @include media-breakpoint-down(lg) {
                    margin-left: 20px;
                }
            }
        }
        &.navbar-nav-right {
            @include media-breakpoint-down(lg) {
                align-items: flex-start !important;
            }
        }
    }
    .dropdown-menu {
        font-size: 1.4rem;
    }
}
