.overview-wrapper {
    margin-top: 50px;
    & .col  > .inner {
        @include box-shadow;
        padding: 30px;
    }
    .overview-filters {
        h4 {
            margin-bottom: 10px;
        }
        .filter-item {
            margin-right: 10px;
            margin-bottom: 15px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .overview-items {
        margin-top: 50px;
    }
}
