.app-paris-proof-sidebar {
    height: calc( 100vh - 70px );
    background-color: $color-light-grey;
    padding: 0;
    position: sticky;
    top: 70px;
    > .ps {
        padding: 60px 50px 50px;
        height:100%;
        & > h2 {
            display: inline-block;
            margin-bottom: 0;
        }
    }
    .information-popup {
        display: inline-block;
        float: right;
    }
    .paris-proof-score {
        margin-top: 50px;
        position: relative;
        svg {
            width: 75%;
            min-width: 252px;
        }
        .paris-proof-score-indicator {
            @include transition;
            position: absolute;
            width: 100%;
            display: flex;
            align-items: flex-start;
            font-weight: $font-weight-bold;
            margin-top: -10px;
            hr {
                border-width: 2px;
                width: 70%;
                margin: 10px 15px 0 0;
            }
            &.color-red {
                color: $color-red;
                hr {
                    border-color: $color-red;
                }
            }
            &.color-orange {
                color: $color-orange;
                hr {
                    border-color: $color-orange;
                }
            }
            &.color-green {
                color: $color-green;
                hr {
                    border-color: $color-green;
                }
            }
        }
    }
    .paris-proof-legend {
        margin-top: 50px;
        .item {
            display: flex;
            align-items: center;
            margin-top: 15px;
            &:first-child {
                margin-top: 0;
            }
            .color {
                display:inline-block;
                width: 20px;
                height: 20px;
                border-radius: $border-radius;
                background-color: black;
                margin-right: 10px;
                &.color-green {
                    background-color: $color-green;
                }
                &.color-orange {
                    background-color: $color-orange;
                }
                &.color-red {
                    background-color: $color-red;
                }
            }
        }
    }
    .paris-proof-about {
        margin-top: 50px;
    }
    .paris-score {
        & > span {
            transition: all ease 0.4s;
        }
        .color-red {
            color: $color-red;
        }
        .color-orange {
            color: $color-orange;
        }
        .color-green {
            color: $color-green;
        }
    }
}

@media screen and (max-width: 1366px) {
    .app-paris-proof-sidebar {
        .paris-proof-score {
            svg {
                min-width: 220px;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .app-paris-proof-sidebar {
        .paris-score {
            & > span {
                display: block;
            }
        }
        .information-popup .information-dropdown,
        .information-modal .information-dropdown {
            width: 250px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .app-paris-proof-sidebar {
        & > .ps {
            & > h2 {
                max-width: 75%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .app-paris-proof-sidebar {
        height: calc( 100vh - 52px );
        top: 52px;
    }
}

@media screen and (max-width: 991px) {
    .app-paris-proof-sidebar {
        position: unset;
        height: auto;
        & > .ps {
            height: auto;
        }
        .paris-proof-score {
            svg {
                min-width: auto;
                width: 90%;
            }
        }
    }
}