<template>
    <div class="vue-chart vue-chart-building-functions inline-text row align-items-start chart-percentage">
        <div class="vue-chart-wrapper" :class="'col-md-' + col" >
            <div class="vue-chart-js">
                <advanced-doughnut-chart :data-set="chart" :options="options" :height="height" @chart-rendered="handleChartRendered"></advanced-doughnut-chart>
            </div>
        </div>
        <div class="vue-chart-legend" :class="'col-md-' + col" v-html="htmlLegend"></div>
    </div>
</template>

<script>
    import { customChartLegend } from '../../../mixins/customChartLegend';

    export default {
        name: "ChartBuildingFunctions",

        mixins: [customChartLegend],

        props: {
            height: {
                type: Number,
                default: 150
            },
            
            sourceData: {
                type: Object,
                required: true
            },

            col: {
                type: String,
                default: 6
            }
        },

        data() {
            return {
                chart: {
                    labels: null,
                    data: null,
                    backgroundColors: null
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    animation: {
                        duration: 2000
                    }
                },
                htmlLegend: null,
                labelColors: {
                    'Scholen': '#00A2DF',
                    'Woningen': '#0C7BF7',
                    'Kantoren': '#0C3AED',
                    'Hotels': '#C7E4F5'
                }
            }
        },

        methods: {
            handleChartRendered: function(payload) {
                this.htmlLegend = payload;
            }
        },
        
        watch: {
            sourceData: function(sourceData) {
                let backgroundColors = [];

                Object.keys(sourceData).forEach((colorKey) => {
                    backgroundColors.push(this.labelColors[colorKey] ?? '#CCCCCC');
                });

                this.$set(this.chart, 'backgroundColors', backgroundColors);
                this.$set(this.chart, 'labels', Object.keys(sourceData));
                this.$set(this.chart, 'data', Object.values(sourceData));
            }
        }
    }
</script>
