<template>
    <div class="vue-chart vue-chart-building-energy-labels inline-text row align-items-start chart-percentage" :class="{'legend-top': (legendPosition === 'top')}">
        <div class="vue-chart-wrapper" :class="(legendPosition === 'top') ? 'col-md-12 order-2' : 'col-md-6'">
            <div class="vue-chart-js">
                <advanced-doughnut-chart :data-set="chart" :options="options" :height="height" @chart-rendered="handleChartRendered"></advanced-doughnut-chart>
            </div>
            <div class="vue-chart-text">
                <span>Totaal <strong>{{ totalBuildings }}</strong> panden</span>
            </div>
        </div>
        <div class="vue-chart-legend" :class="(legendPosition === 'top') ? 'col-md-12 order-1' : 'col-md-6'" v-html="htmlLegend"></div>
    </div>
</template>

<script>
    import { customChartLegend } from '../../../mixins/customChartLegend';

    export default {
        name: "ChartBuildingEnergyLabels",

        mixins: [customChartLegend],

        props: {
            height: {
                type: Number,
                default: 150
            },
            
            legendPosition: {
                type: String,
                default: "side"
            },
            
            sourceData: {
                type: Object,
                required: true
            }
        },

        data() {
            return {
                chart: {
                    labels: null,
                    data: null,
                    backgroundColors: null
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    animation: { duration: 2000 }
                },
                totalBuildings: 0,
                htmlLegend: null,
                labelColors: {
                    'A++': '#22542D',
                    'A+': '#007643',
                    'A': '#549C14',
                    'B': '#AAD962',
                    'C': '#EEDB28',
                    'D': '#CC4747',
                    'E': '#CC4747',
                    'F': '#CC4747',
                    'G': '#CC4747',
                }
            }
        },

        methods: {
            handleChartRendered: function(payload) {
                this.htmlLegend = payload;
            }
        },
        
        watch: {
            sourceData: function(sourceData) {
                let backgroundColors = [];

                Object.keys(sourceData).forEach((colorKey) => {
                    backgroundColors.push(this.labelColors[colorKey] ?? '#CCCCCC');
                });

                this.$set(this.chart, 'backgroundColors', backgroundColors);
                this.$set(this.chart, 'labels', Object.keys(sourceData));
                this.$set(this.chart, 'data', Object.values(sourceData));
                
                this.totalBuildings = _.reduce(Object.values(sourceData), (a, b) => a + b, 0);
            }
        }
    }
</script>