<template>
    <div class="vue-chart vue-chart-measures row">
        <div class="vue-chart-wrapper col-md-12">
            <div class="vue-chart-js">
                <advanced-horizontal-bar-chart :chartData="chartData" :options="options" :height="height" @chart-rendered="handleChartRendered"></advanced-horizontal-bar-chart>
            </div>
        </div>
        <div class="vue-chart-legend col-md-12 mt-3" v-html="htmlLegend"></div>
    </div>
</template>

<script>
    export default {
        name: "ChartMeasures",

        props: {
            height: {
                type: Number,
                default: 150
            },
            
            sourceData: {
                type: Array,
                required: true
            }
        },

        data() {
            return {
                chartData: {
                    labels: ['Erkende maatregelen', 'Investering in Euro\'s', 'CO2 besparing (kg)'],
                    datasets: [
                        {
                            label: 'Reeds uitgevoerd',
                            data: [],
                            sumData: [],
                            backgroundColor: '#C7E4F5'
                        },
                        {
                            label: 'Deels uitgevoerd',
                            data: [],
                            sumData: [],
                            backgroundColor: '#00A3E0'
                        },
                        {
                            label: 'van Toepassing',
                            data: [],
                            sumData: [],
                            backgroundColor: '#0C7BF7'
                        },
                        {
                            label: 'in Potentie',
                            data: [],
                            sumData: [],
                            backgroundColor: '#0C3AED'
                        }
                    ]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            stacked: true
                        }],
                        xAxes: [{
                            stacked: true,
                            ticks: {
                                minx: 0,
                                max: 100,
                                callback: function(value, index, values) {
                                    return `${value}%`;
                                }
                            }
                        }]
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        callbacks: {
                            label: (tooltipItem, data) => {
                                let label = data.datasets[tooltipItem.datasetIndex].label
                                let sum = data.datasets[tooltipItem.datasetIndex].sumData[tooltipItem.index];
                                
                                if (tooltipItem.index === 1) {
                                    sum = new Intl.NumberFormat('nl-NL', { style: 'currency', currency: 'EUR' }).format(sum);
                                }
                                
                                if (tooltipItem.index === 2) {
                                    sum = new Intl.NumberFormat('nl-NL').format(sum);
                                }
                                
                                return `${label}: ${sum}`;
                            },
                        },
                    }
                },
                htmlLegend: null
            }
        },
        
        methods: {
            handleChartRendered: function(payload) {
                this.htmlLegend = payload;
            },
            
            extractData: function(sourceData, name) {
                return _.map(sourceData, (dataEntry) => dataEntry[name]);
            }
        },

        watch: {
            sourceData: function (sourceData) {
                this.$set(this.chartData.datasets[0], 'data', this.extractData(sourceData, 'donePercentage'));
                this.$set(this.chartData.datasets[0], 'sumData', this.extractData(sourceData, 'doneSum'));
                this.$set(this.chartData.datasets[1], 'data', this.extractData(sourceData, 'partiallyDonePercentage'));
                this.$set(this.chartData.datasets[1], 'sumData', this.extractData(sourceData, 'partiallyDoneSum'));
                this.$set(this.chartData.datasets[2], 'data', this.extractData(sourceData, 'applicablePercentage'));
                this.$set(this.chartData.datasets[2], 'sumData', this.extractData(sourceData, 'applicableSum'));
                this.$set(this.chartData.datasets[3], 'data', this.extractData(sourceData, 'potentiallyPercentage'));
                this.$set(this.chartData.datasets[3], 'sumData', this.extractData(sourceData, 'potentiallySum'));
            }
        }
    }
</script>

