<template>
    <div class="vue-chart vue-chart-square-meters inline-text row align-items-start chart-percentage">
        <div class="vue-chart-wrapper col-md-6">
            <div class="vue-chart-js">
                <advanced-doughnut-chart :data-set="chart" :options="options" :height="height" @chart-rendered="handleChartRendered"></advanced-doughnut-chart>
            </div>
            <div class="vue-chart-text">
                <span>Totaal <strong>{{ total }} m<sup>2</sup></strong></span>
            </div>
        </div>
        <div class="vue-chart-legend col-md-6" v-html="htmlLegend"></div>
    </div>
</template>

<script>
    import { customChartLegend } from '../../../mixins/customChartLegend';

    export default {
        name: "ChartSquareMeters",

        mixins: [customChartLegend],

        props: {
            sourceData: {
                type: Object,
                required: true
            },
            
            total: {
                type: Number,
                required: true
            },
            
            height: {
                type: Number,
                default: 150
            },
        },

        data() {
            return {
                chart: {
                    labels: null,
                    data: null,
                    backgroundColors: null
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false
                },
                htmlLegend: null,
                labelColors: {
                    '0 - 500 m²': '#00A2DF',
                    '500 - 1000 m²': '#0C7BF7',
                    '1000 - 5000 m²': '#0C3AED',
                    '5000+ m²': '#C7E4F5'
                }
            }
        },

        methods: {
            handleChartRendered: function(payload) {
                this.htmlLegend = payload;
            }
        },

        watch: {
            sourceData: function(sourceData) {
                let backgroundColors = [];

                Object.keys(sourceData).forEach((colorKey) => {
                    backgroundColors.push(this.labelColors[colorKey] ?? '#CCCCCC');
                });

                this.$set(this.chart, 'backgroundColors', backgroundColors);
                this.$set(this.chart, 'labels', Object.keys(sourceData));
                this.$set(this.chart, 'data', Object.values(sourceData));
            }
        }
    }
</script>
