<template>
    <div class="vue-chart vue-chart-investment-vs-savings row">
        <div class="vue-chart-legend col-md-12" v-html="htmlLegend"></div>
        <div class="vue-chart-wrapper col-md-12 mt-3">
            <div class="vue-chart-js">
                <advanced-line-chart v-if="initialDataLoaded" :chart-data="chartdata" :options="options" :height="height" @chart-rendered="handleChartRendered"></advanced-line-chart>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ChartInvestmentVsSavings",
        
        props: {
            height: {
                type: Number,
                default: 250
            },
            
            years: {
                type: Array,
                default:() => []
            },
            
            investments: {
                type: Array,
                default:() => []
            },
            
            savings: {
                type: Array,
                default:() => []
            }
        },
        
        data() {
            return {
                initialDataLoaded: false,
                
                chartdata: {},

                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    hoverMode: 'index',
                    stacked: false,
                    legend: {
                        display: false,
                    },
                    scales: {
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Jaartal',
                                fontStyle: 'bold'
                            }
                        }],
                        yAxes: [{
                            id: 'y-axis-1',
                            display: true,
                            type: 'linear',
                            position: 'left',
                            scaleLabel: {
                                display: true,
                                labelString: 'Verbruik in kWh/m²',
                                fontStyle: 'bold'
                            }
                        }, {
                            type: 'linear',
                            display: true,
                            position: 'right',
                            id: 'y-axis-2',
                            ticks: {
                                min: 0
                            },
                            gridLines: {
                                drawOnChartArea: false
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Investering in euro\'s',
                                fontStyle: 'bold'
                            }
                        }],
                    },
                    tooltips: {
                        callbacks: {
                            label: (tooltipItem, data) => {
                                let label = data.datasets[tooltipItem.datasetIndex].label
                                let value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                                
                                if (tooltipItem.datasetIndex === 0) {
                                    value = new Intl.NumberFormat('nl-NL').format(value);
                                }
                                
                                if (tooltipItem.datasetIndex === 1) {
                                    value = new Intl.NumberFormat('nl-NL', { style: 'currency', currency: 'EUR' }).format(value);
                                }

                                return `${label}: ${value}`;
                            },
                        },
                    }
                },
                
                htmlLegend: null
            }
        },

        methods: {
            handleChartRendered: function(payload) {
                this.htmlLegend = payload;
            },
            
            updateChart: _.debounce(function() {
                this.chartdata = {
                    labels: this.years,
                    datasets: [
                        {
                            label: 'Verbruik (kWh/m²)',
                            fill: false,
                            yAxisID: 'y-axis-1',
                            borderColor: "#809700",
                            backgroundColor: "#809700",
                            data: this.savings
                        },
                        {
                            label: 'Investering',
                            borderColor: "#E75B04",
                            backgroundColor: "#E75B04",
                            fill: false,
                            yAxisID: 'y-axis-2',
                            data: this.investments
                        }
                    ],
                }

                this.initialDataLoaded = true;
            }, 100)
        },

        watch: {
            years: {
                deep: true,
                handler: 'updateChart'
            },

            savings: {
                deep: true,
                handler: 'updateChart'
            },

            investments: {
                deep: true,
                handler: 'updateChart'
            }
        }
    }
</script>

