<template>
    <div class="vue-chart vue-chart-measure-consumption row">
        <div class="vue-chart-legend col-md-12" v-html="htmlLegend"></div>
        <div class="vue-chart-wrapper col-md-12 mt-3">
            <div class="vue-chart-js">
                <advanced-doughnut-chart :chartdata="chartdata" :options="options" :height="height" @chart-rendered="handleChartRendered"></advanced-doughnut-chart>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ChartMeasureConsumption",

        props: {
            height: {
                type: Number,
                default: 250
            },
            
            
        },

        data() {
            return {
                chartdata: {
                    labels: [
                        'Gebouw',
                        'Gebruik',
                        'Werking'
                    ],
                    datasets: [
                        {
                            data: [
                                100,
                                232,
                                98,
                            ],
                            backgroundColor: [
                                '#00A2DF',
                                '#C7E4F5',
                                '#0C3AED'
                            ],
                            borderColor: '#FFFFFF',
                            borderWidth: 2
                        }
                    ],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false,
                    }
                },
                totalSquareMeters: "80.000",
                htmlLegend: null
            }
        },

        methods: {
            handleChartRendered: function(payload) {
                this.htmlLegend = payload;
            }
        }
    }
</script>