<template>
    <div class="vue-percentage-chart" :class="((inlinePercentage === true) ? 'inline-percentage' : 'side-percentage')">
        <div class="vue-chart-js">
            <simple-doughnut-chart :percentage="percentage" :color="color" :height="height" :width="width"></simple-doughnut-chart>
        </div>

        <div class="textual-percentage">
            <number :from="0" :to="percentage" :duration="1.6" ></number>%
        </div>
    </div>
</template>

<script>
    export default {
        name: "PercentageChart",

        props: {
            percentage: {
                type: Number
            },
            color: {
                type: String
            },
            width: {
                type: Number,
                default: 150
            },
            height: {
                type: Number,
                default: 150
            },
            inlinePercentage: {
                type: Boolean,
                default: true
            }

        }
    }
</script>
