<template>
    <li class="folder">
        <a href="#" @click.prevent="isVisible = !isVisible"><span :class="isVisible ? 'icon-map-open-icon' : 'icon-map-closed-icon'"></span> {{ directory.directory }} <span class="amount d-none d-md-block">{{ directory.amountOfFiles }}</span></a>
        <ul class="subfolder" v-if="hasSubDirectory === true" v-show="isVisible === true">
            <directories v-for="subDirectory in directory.subDirectories" :key="subDirectory.index" :directory="subDirectory" :eventBus="eventBus"></directories>
        </ul>
    </li>
</template>

<script>
    export default {
        name: "Folders",

        props: {
            directory: Object,
            eventBus: Object
        },

        data() {
            return {
                isVisible: false
            }
        },

        computed: {
            hasSubDirectory: function() {
                return _.isArrayLike(this.directory.subDirectories) && this.directory.subDirectories.length >= 1;
            }
        },

        watch: {
            isVisible: function (value) {
                if (value === false) {
                    return false;
                }

                this.eventBus.$emit('directory-opened', { ...this.directory });
            }
        }
    }
</script>
