<template>
    <div class="favorite-overview">
        <perfect-scrollbar :options="{ wheelPropagation: true }">
            <div class="favorite-file" :class="halfColumn ? 'col-md-6' : 'col-12'" v-for="file in files" v-if="file.favorite === true">
                <toggle-favorite-file :favorite="file.favorite" :filename="file.name" @favorite-toggled="handleToggleFavorite"></toggle-favorite-file>
                <a href="#">
                    {{ file.name }}
                </a>
            </div>
        </perfect-scrollbar>
    </div>
</template>

<script>
    export default {
        name: "FavoriteFiles",

        props: {
            apiUrl: {
                type: String,
                default: '/api/favorite-files'
            },
            halfColumn: {
                type: Boolean,
                default: true
            },
            amount: {
                type: Number,
                default: 10
            }
        },

        data() {
            return {
                files: []
            }
        },

        mounted() {
            this.fetchFiles();
        },

        methods: {
            fetchFiles: function() {
                axios.get(this.apiUrl, { params: { amount: this.amount, favorite: true }})
                    .then( response => {
                        this.$set(this, 'files', response.data);
                    })
                    .catch(error => {
                        this.$toaster.error('Ophalen van de favoriete bestanden is mislukt!');
                    });
            },

            handleToggleFavorite: function(payload) {
                this.files.forEach( file => {
                    if (file.name === payload.filename) {
                        file.favorite = payload.favorite;
                        this.$toaster.info(payload.filename + ' is verwijderd als favoriet.');
                    }
                });
            }
        }
    }
</script>
