<template>
    <div class="col file-browser">
        <div class="inner">
            <div class="row">
                <div class="col-lg-6 file-folder-tree">
                    <div class="inner">
                        <h2>Bestanden</h2>
                        <div class="row no-gutters">
                            <div class="col-md-8">
                                <h4>Categoriën</h4>
                            </div>
                            <div class="col-md-4 col-3 d-none d-md-block">
                                <h4>Aantal</h4>
                            </div>
                        </div>

                        <perfect-scrollbar>
                            <ul class="folders">
                                <directories v-for="directory in directories" :key="directory.index" :directory="directory" :eventBus="eventBus"></directories>
                            </ul>
                        </perfect-scrollbar>

                    </div>
                </div>
                <div class="col-lg-6 file-folder-items">
                    <div class="inner" v-show="hasFiles === true">
                        <h3 v-if="hasCurrentDirectory === true">Bestanden uit de map {{ currentDirectory.directory }}</h3>
                        <div class="row no-gutters">
                            <div class="col-md-8">
                                <h4>Bestandsnaam</h4>
                            </div>
                            <div class="col-md-4 d-none d-md-block">
                                <h4>Geplaatst op</h4>
                            </div>
                        </div>
                        <div class="row no-gutters selected-overview">
                            <div class="col">

                                <perfect-scrollbar>
                                    <div class="row file no-gutters" v-for="file in files">
                                        <div class="col-md-8 col-10 file-name">
                                            <toggle-favorite-file :favorite="file.favorite"></toggle-favorite-file> {{ file.name }}
                                        </div>
                                        <div class="col-md-3 file-date d-none d-md-block">
                                            <p>{{ file.timestamp }}</p>
                                        </div>
                                        <div class="col-md-1 col-2 file-edit">
                                            <a href="#">
                                                <span class="icon-bin-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                </perfect-scrollbar>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FileBrowser",
        
        props: {
            directoriesApiUrl: {
                type: String,
                default: '/api/directories'
            },
            filesApiUrl: {
                type: String,
                default: '/api/files'
            },
        },

        data() {
            return {
                currentDirectory: null,
                directories: null,
                files: null,
                eventBus: new Vue()
            }
        },

        computed: {
            hasCurrentDirectory: function() {
                return _.isEmpty(this.currentDirectory) === false;
            },

            hasFiles: function() {
                return _.isArrayLike(this.files) === true && this.files.length >= 1;
            }
        },

        mounted(){
            this.fetchDirectories();

            this.eventBus.$on('directory-opened', this.handleDirectoryOpened);
        },

        methods: {
            fetchDirectories: function() {
                axios.get(this.directoriesApiUrl)
                    .then(response => {
                        this.$set(this, 'directories', response.data);
                    })
                    .catch(error => {
                        this.$toaster.error('Ophalen van de mappen is mislukt!');
                    });
            },

            fetchFiles: function() {
                axios.get(this.filesApiUrl, { params: { amount: this.currentDirectory.amountOfFiles }})
                    .then(response => {
                        this.$set(this, 'files', response.data);
                    })
                    .catch(error => {
                        this.$toaster.error('Ophalen van de bestanden is mislukt!');
                    });
            },

            handleDirectoryOpened: function(directory) {
                this.$set(this, 'currentDirectory', directory);
                this.fetchFiles();
            }
        }
    }
</script>
