<template>
    <div class="row">
        <div class="col-lg-12 app-file-overview">
            <div class="inner">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <h1>Overzicht van bestanden</h1>
                    </div>
                    <file-upload-modal></file-upload-modal>
                </div>

                <div class="row">
                    <div class="col file-search-wrapper">
                        <search id="app-file-search" placeholder="Zoeken binnen bestanden"></search>
                        <hr>
                    </div>
                </div>

                <div class="row file-first">

                    <div class="col-lg-6 col-md-12 favorite-file-wrapper">
                        <div class="inner">
                            <div class="head">
                                <h2>Favoriete bestanden</h2>
                                <information-dropdown>
                                    <template v-slot:header>
                                        <h2>Favo bestanden dropdown!</h2>
                                    </template>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget imperdiet nisi, ac aliquam mauris.</p>
                                    <h3>Titeltje</h3>
                                    <p>Nog niet alle kleinzakelijke meters worden slim uitgelezen.</p>
                                    <hr>
                                    <p>Gebouw eigenschappen zijn nog niet op basis van Bronbestand.</p>
                                </information-dropdown>
                            </div>

                            <favorite-files :amount="20" :api-url="favoritesApiUrl"></favorite-files>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 recent-file-wrapper">
                        <div class="inner">
                            <div class="head">
                                <h2>Recent bekeken bestanden</h2>
                                <information-dropdown>
                                    <template v-slot:header>
                                        <h2>Recente bestanden dropdown!</h2>
                                    </template>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget imperdiet nisi, ac aliquam mauris.</p>
                                    <h3>Titeltje</h3>
                                    <p>Nog niet alle kleinzakelijke meters worden slim uitgelezen.</p>
                                    <hr>
                                    <p>Gebouw eigenschappen zijn nog niet op basis van Bronbestand.</p>
                                </information-dropdown>
                            </div>

                            <recent-files :api-url="recentFilesApiUrl"></recent-files>
                        </div>
                    </div>

                </div>
                <div class="row file-browser-wrapper no-gutters">
                    <file-browser :directories-api-url="directoriesApiUrl" :files-api-url="filesApiUrl"></file-browser>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FileOverview",
        
        props: {
            favoritesApiUrl: {
                type: String,
                default: '/api/favorite-files'
            },
            recentFilesApiUrl: {
                type: String,
                default: '/api/recent-files'
            },
            directoriesApiUrl: {
                type: String,
                default: '/api/directories'
            },
            filesApiUrl: {
                type: String,
                default: '/api/files'
            }
        }
    }
</script>
