<template>
    <div class="col-lg-4 text-lg-right">
        <a href="#" type="button" data-toggle="modal" data-target="#file-upload-modal" class="btn-primary btn-sm">
            <span class="icon-plus-icon"></span>
            Bestand uploaden
        </a>

        <div class="modal fade" id="file-upload-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="file-upload-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form action="/api/dummy-post" method="POST">
                        <div class="modal-header">
                            <h2 class="modal-title" id="file-upload-modal-label">Bestand(en) uploaden</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                Sluiten <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <vue-dropzone
                                        id="file-upload-dropzone"
                                        ref="fileUpload"
                                        :options="dropzoneOptions"

                                        @vdropzone-complete="handleComplete"
                                        @vdropzone-removed-file="handleRemoved"
                                    ></vue-dropzone>

                                    <ul class="upload-file-list">
                                        <uploaded-file
                                            v-for="file in files"
                                            :key="file.index"
                                            :file="file"
                                            :event-bus="eventBus"
                                        ></uploaded-file>

                                        <li v-if="hasFiles === false" class="file-placeholder"></li>
                                        <li v-if="hasFiles === false" class="file-placeholder"></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 mt-5 mt-md-0">
                                    <uploaded-file-meta :event-bus="eventBus"></uploaded-file-meta>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" type="button" data-dismiss="modal">Annuleren</a>
                            <button type="submit" :disabled="buttonDisabled" class="btn-primary btn-sm">Opslaan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FileUploadModal",

        data() {
            return {
                files: [],
                fileState: {},
                eventBus: new Vue(),
                dropzoneOptions: {
                    url: 'https://httpbin.org/post',
                    maxFilesize: 25,
                    addRemoveLinks: true,
                    dictDefaultMessage: "Sleep uw bestanden hier naar toe of <a href='#' class='btn-primary btn-sm'><span class='icon-plus-icon'></span>Selecteer bestand</a> <span class='help-message'>Let op: Bestanden mogen niet groter zijn dan 25mb.</span>"
                }
            }
        },

        computed: {
            buttonDisabled: function() {
                return _.isEmpty(this.fileState) === true || _.includes(this.fileState, false) === true;
            },

            hasFiles: function() {
                return _.isEmpty(this.files) === false;
            }
        },

        mounted() {
            this.eventBus.$on('remove-file', file => {
                let currentFileState = this.fileState;
                _.unset(currentFileState, file.file.upload.uuid);

                this.$set(this, 'fileState', currentFileState );
                this.removeFile(file.file);
            });

            this.eventBus.$on('file-state-changed', payload => {
                this.$set(this.fileState, payload.file.upload.uuid, payload.hasRequiredFields);
            });
        },

        methods: {
            handleComplete: function(file) {
                this.$set(this.fileState, file.upload.uuid, false);
                this.$set(this, 'files', [...this.files, file]);
                this.$toaster.success('Het bestand is geüpload.');
            },

            handleRemoved: function(file) {
                this.files.splice(this.files.indexOf(file), 1);
            },

            removeFile: function(file) {
                this.$refs.fileUpload.removeFile(file);
            }
        }
    }
</script>
