<template>
    <div class="recent-overview">
        <perfect-scrollbar :options="{ wheelPropagation: true }">
            <div class="recent-file" :class="halfColumn ? 'col-md-6' : 'col-12'" v-for="file in files">
                <span class="icon-file-icon"></span>
                <a href="#">
                    {{ file.name }}
                </a>
            </div>
        </perfect-scrollbar>
    </div>
</template>

<script>
    export default {
        name: "RecentFiles",

        props: {
            apiUrl: {
                type: String,
                default: '/api/recent-files'
            },
            halfColumn: {
                type: Boolean,
                default: true
            },
            amount: {
                type: Number
            }
        },

        data() {
            return {
                files: []
            }
        },

        mounted() {
            this.fetchFiles();
        },

        methods: {
            fetchFiles: function() {
                axios.get(this.apiUrl, { params: { amount: this.amount }})
                    .then(response => {
                        this.$set(this, 'files', response.data);
                    })
                    .catch(error => {
                        this.$toaster.error('Ophalen van de recent bekeken bestanden is mislukt!');
                    });
            }
        }
    }
</script>
