<template>
    <span class="favorite-file-toggle" :class="isFavorite ? 'icon-star-icon' : 'icon-star-outline-icon'" @click="isFavorite = !isFavorite"></span>
</template>

<script>
    export default {
        name: "ToggleFavoriteFile",

        props: {
            favorite: Boolean,
            filename: String
        },

        data() {
            return {
                isFavorite: this.favorite
            }
        },

        watch: {
            isFavorite: function() {
                this.$emit('favorite-toggled', { filename: this.filename, favorite: this.isFavorite });
            }
        }
    }
</script>
