<template>
    <div class="uploaded-file-meta">
        <div class="row">
            <div class="col-12">
                <p>Bestand</p>
                <p v-if="hasFile === true"><strong>{{ file.name }}</strong></p>
                <div v-if="hasFile === false" class="file-meta-placeholder"></div>

                <div class="form-group">
                    <label>Titel van het bestand</label>
                    <div v-if="hasFile === true" class="input-group">
                        <input type="text" class="form-control" v-model="name">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                {{ file.name | getExtension }}
                            </div>
                        </div>
                    </div>

                    <div v-if="hasFile === false" class="file-meta-placeholder"></div>
                </div>
                <div class="form-group">
                    <label>Aan welk gebouw moet dit bestand gekoppeld worden?</label>
                    <select v-if="hasFile === true" class="form-control" v-model="building">
                        <option>Gebouw 1</option>
                        <option>Gebouw 2</option>
                        <option>Gebouw 3</option>
                        <option>Gebouw 4</option>
                        <option>Gebouw 5</option>
                    </select>

                    <div v-if="hasFile === false" class="file-meta-placeholder"></div>
                </div>
                <div class="form-group">
                    <label>Waar moet dit bestand opgeslagen worden?</label>
                    <div v-if="hasFile === true" class="row">
                        <div class="col-6">
                            <select class="form-control" v-model="parentFolder">
                                <option>Parentfolder 1</option>
                                <option>Parentfolder 2</option>
                                <option>Parentfolder 3</option>
                                <option>Parentfolder 4</option>
                                <option>Parentfolder 5</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <select class="form-control" v-model="subFolder">
                                <option>Subfolder 1</option>
                                <option>Subfolder 2</option>
                                <option>Subfolder 3</option>
                                <option>Subfolder 4</option>
                                <option>Subfolder 5</option>
                            </select>
                        </div>
                    </div>

                    <div v-if="hasFile === false" class="file-meta-placeholder"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {fileNameFilters} from '../../../mixins/fileNameFilters.js';

    export default {
        name: "UploadedFileMeta",

        mixins: [fileNameFilters],

        props: {
            eventBus: {
                type: Vue
            }
        },

        data() {
            return {
                file: null,
                name: null,
                building: null,
                parentFolder: null,
                subFolder: null
            }
        },

        computed: {
            hasFile: function() {
                return _.isNil(this.file) === false;
            }
        },

        mounted() {
            this.eventBus.$on('uploaded-file-clicked', payload => {
                this.file = payload.file;
                this.name = this.$options.filters.stripExtension(payload.name);
                this.building = payload.building;
                this.parentFolder = payload.parentFolder;
                this.subFolder = payload.subFolder;
            });

            this.eventBus.$on('remove-file', file => {
                if (file.file === this.file) {
                    this.file = null;
                    this.name = null;
                    this.building = null;
                    this.parentFolder = null;
                    this.subFolder = null;
                }
            });
        },

        watch: {
            $data: {
                deep: true,
                handler: _.debounce(function(value) {
                    this.eventBus.$emit('uploaded-file-meta-changed', { ...this.$data });
                }, 200)
            }
        }
    }
</script>
