<template>
    <li @click="handleClick" :class="{'active': isActive}">
        <span class="file-indicator" :class="(hasRequiredFields === false) ? 'icon-unknown-file-icon' : 'icon-check-icon'"></span>
        {{ fullFilename }}
        <span class="icon-bin-icon" @click.stop="removeFile(file)"></span>

        <input type="hidden" :name="`files[${ file.upload.uuid }][originalFileName]`" :value="file.name">
        <input type="hidden" :name="`files[${ file.upload.uuid }][newFileName]`" :value="fullFilename">
        <input type="hidden" :name="`files[${ file.upload.uuid }][building]`" :value="building">
        <input type="hidden" :name="`files[${ file.upload.uuid }][parent-folder]`" :value="parentFolder">
        <input type="hidden" :name="`files[${ file.upload.uuid }][sub-folder]`" :value="subFolder">
    </li>
</template>

<script>
    import {fileNameFilters} from '../../../mixins/fileNameFilters.js';

    export default {
        name: "UploadedFile",

        mixins: [fileNameFilters],

        props: {
            file: {
                type: File
            },
            eventBus: {
                type: Vue
            }
        },

        mounted() {
            this.name = this.file.name;

            this.eventBus.$on('uploaded-file-meta-changed', payload => {
                if (_.isEqual(payload.file, this.file) === false) {
                    return;
                }

                this.name = payload.name;
                this.building = payload.building;
                this.parentFolder = payload.parentFolder;
                this.subFolder = payload.subFolder;
            });

            this.eventBus.$on('uploaded-file-clicked', payload => {
                if (_.isEqual(payload.file, this.file) === false) {
                    this.isActive = false;
                }
            });
        },

        data() {
            return {
                name: null,
                building: null,
                parentFolder: null,
                subFolder: null,
                isActive: false
            }
        },

        computed: {
            fullFilename: function () {
                return this.$options.filters.stripExtension(this.name)+this.$options.filters.getExtension(this.file.name);
            },

            hasRequiredFields: function() {
                return (_.isEmpty(this.name) || _.isNil(this.building) || _.isNil(this.parentFolder) || _.isNil(this.subFolder)) === false;
            }
        },

        methods: {
            handleClick: function() {
                this.toggleActiveState();

                this.eventBus.$emit(
                    'uploaded-file-clicked',
                    {
                        file: this.file,
                        ...this.$data
                    }
                )
            },

            removeFile: function() {
                this.eventBus.$emit(
                    'remove-file',
                    {
                        file: this.file
                    }
                )
            },

            toggleActiveState: function() {
                this.isActive = !this.isActive;
            }
        },

        watch: {
            hasRequiredFields: function(newState) {
                this.eventBus.$emit('file-state-changed', { 'hasRequiredFields': newState, 'file': this.file });
            }
        }
    }
</script>
