<template>
    <div class="vue-building-overview">
        <div class="row">
            <div class="col-lg-3 col-md-6 building-overview-chart">
                <h3>Hoeveel procent is Paris Proof</h3>
                <percentage-chart :width="170" :height="170" :percentage="chartData.parisProof"></percentage-chart>
            </div>
            <div class="col-lg-3 col-md-6 building-overview-chart">
                <h3>Verdeling van het label</h3>
                <chart-building-energy-labels :height="170" :source-data="chartData.energyLabels"></chart-building-energy-labels>
            </div>
            <div class="col-lg-3 col-md-6 building-overview-chart">
                <h3>Totaal aantal vierkante meters</h3>
                <chart-square-meters :height="170" :source-data="chartData.squareMeters.data" :total="chartData.squareMeters.total"></chart-square-meters>
            </div>
            <div class="col-lg-3 col-md-6 building-overview-chart">
                <h3>Functies van de gebouwen</h3>
                <chart-building-functions :height="170" :source-data="chartData.purposes"></chart-building-functions>
            </div>
        </div>
        <div class="row overview-wrapper">
            <div class="col">
                <div class="inner">
                    <div class="row">
                        <div class="col-12">
                            <h4>Gebouwen filteren</h4>
                        </div>
                    </div>
                    <div class="row overview-filters align-items-start mt-4">
                        <div class="col-lg col-md-12">
                            <filter-set :filters="filters" @filters-changed="handleFiltersChanged"></filter-set>
                        </div>

                        <div class="col-lg-auto col-md-12 text-lg-right mt-5 mt-lg-0">
                            <add-building-modal>
                                <slot name="modal-content"></slot>
                            </add-building-modal>
                        </div>
                    </div>

                    <div class="row overview-items">
                        <div class="col table-responsive">
                            <perfect-scrollbar class="col table-responsive" :options="{ wheelPropagation: true }">
                                <table class="table overview-table">
                                    <thead>
                                        <tr>
                                            <th>Paris Proof Score</th>
                                            <th>Adres</th>
                                            <th>Huisnummer</th>
                                            <th>Plaats</th>
                                            <th>Omschrijving</th>
                                            <th>Functie</th>
                                            <th>Vierkante meters</th>
                                            <th>Datascore</th>
                                            <th>Energielabel</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-if="buildings.length > 0">
                                            <tr v-for="building in buildings">
                                                <td><span class="icon-parisproof-icon" :class="getParisProofColorClass(calculateParisProofScore(building.paris_proof_score, building.paris_proof_norm))"></span></td>
                                                <td><a :href="`/buildings/details?guid=${ building.guid }`">{{ building.address }}</a></td>
                                                <td>{{ building.number }}</td>
                                                <td>{{ building.city }}</td>
                                                <td>{{ building.description }}</td>
                                                <td>{{ building.purpose }}</td>
                                                <td>{{ building.square_meters }} m<sup>2</sup></td>
                                                <td>{{ building.data_score }}%</td>
                                                <td><energy-label :label="building.energy_label" :estimate="building.energy_label_is_estimate"></energy-label></td>
                                            </tr>
                                        </template>

                                        <template v-if="buildings.length <= 0">
                                            <tr>
                                                <td colspan="9" class="text-center">Er zijn geen gebouwen gevonden..</td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </perfect-scrollbar>
                        </div>
                    </div>
                </div>

                <loader v-if="infiniteScrollActive === true" :is-loading="isLoading" @loader-visibility="handleLoaderVisibility"></loader>
            </div>
        </div>
    </div>
</template>

<script>
    import parisProofColorClassMixin from '../../../mixins/getParisProofColorClass';
    import FilterSet from "../FilterSet";

    export default {
        name: "BuildingOverview",

        components: {FilterSet},

        mixins: [parisProofColorClassMixin],

        props: {
            apiUrl: {
                type: String,
                required: true
            },
            autocompleteApiUrl: {
                type: String,
                required: true
            }
        },

        data() {
            return {
                buildings: [],
                isLoading: false,
                infiniteScrollActive: false,
                fetchDataOrigin: 'initial-load',
                currentPage: 1,
                totalPages: null,
                filters: [
                    {
                        name: 'Adres',
                        fieldName: 'address',
                        type: 'search',
                        apiUrl: this.autocompleteApiUrl
                    },
                    {
                        name: 'Plaats',
                        fieldName: 'city',
                        type: 'search',
                        apiUrl: this.autocompleteApiUrl
                    },
                    {
                        name: 'Omschrijving',
                        fieldName: 'description',
                        type: 'search',
                        apiUrl: this.autocompleteApiUrl
                    },
                    {
                        name: 'Functie',
                        fieldName: 'purpose',
                        type: 'list',
                        options: [
                            'Kantoren',
                            'Onderwijs',
                            'Hotels',
                            'Bouw'
                        ]
                    },
                    {
                        name: 'Vierkante meters',
                        fieldName: 'square_meters',
                        type: 'range'
                    },
                    {
                        name: 'Datascore',
                        fieldName: 'data_score',
                        type: 'range',
                    },
                    {
                        name: 'Energielabel',
                        fieldName: 'energy_label',
                        type: 'list',
                        options: [
                            'A++',
                            'A+',
                            'A',
                            'B',
                            'C',
                            'D',
                            'E',
                            'F',
                            'G'
                        ]
                    }
                ],
                filterData: {},
                chartData: {
                    parisProof: 0,
                    energyLabels: {},
                    squareMeters: {
                        total: 0,
                        data: {}
                    },
                    purposes: {}
                }
            }
        },

        mounted() {
            this.fetchData();
        },

        methods: {
            fetchData: function() {
                this.isLoading = true;

                axios.post(this.buildApiUrl(), { ...this.filterData })
                    .then(response => {
                        if (this.validateResponse(response.data) === false) {
                            throw "Invalid response";
                        }
                        
                        if (this.currentPage === 1) {
                            this.$set(this, 'buildings', [...response.data.data]);
                        } else {
                            this.$set(this, 'buildings', [...this.buildings, ...response.data.data]);
                        }
                        
                        this.parseChartData(response.data.charts);
                        
                        this.currentPage++;
                        this.infiniteScrollActive = response.data.current_page < response.data.last_page;

                    })
                    .catch(error => {
                        this.$toaster.error('Ophalen van de gebouwen is mislukt');
                    })
                    .finally(() => {
                        this.isLoading = false;
                    });
            },

            buildApiUrl: function() {
                let params = new URLSearchParams({
                    page: this.currentPage.toString(),
                    'event-origin': this.fetchDataOrigin
                });
                
                if (this.apiUrl.includes('?')) {
                    return `${this.apiUrl}&${params.toString()}`;
                }

                return `${this.apiUrl}?${params.toString()}`;
            },

            validateResponse: function(response) {
                if (_.isNil(response.data)) {
                    return false;
                }

                if (_.isNil(response.last_page) || _.isNumber(response.last_page) === false) {
                    return false;
                }

                if (_.isNil(response.current_page) || _.isNumber(response.current_page) === false) {
                    return false;
                }

                return true;
            },

            handleLoaderVisibility: function(payload) {
                if (payload.visible === true && this.isLoading === false) {
                    this.fetchDataOrigin = 'infinite-scroll';
                    this.fetchData();
                }
            },

            handleFiltersChanged: function(payload) {
                this.currentPage = 1;
                this.fetchDataOrigin = 'filter-changed';
                
                let filters = {};
                
                _.each(payload, filterData => {
                    filters[_.toLower(filterData.name)] = { ...filterData };
                    delete filters[_.toLower(filterData.name)].name;
                })
                
                this.$set(this, 'filterData', filters);
                this.fetchData();
            },
            
            parseChartData: function(sourceData) {
                sourceData.forEach((chart) => {
                    if (chart.name === "paris_proof") {
                        this.chartData.parisProof = chart.segments[0].value;
                    }
                    
                    if (chart.name === "labels") {
                        let energyLabels = {};
                        let chartSegments = _.sortBy(chart.segments, 'text');
                        
                        _.each(chartSegments, (chartSegment) => {
                            energyLabels[chartSegment.text] = chartSegment.value;
                        });
                        
                        this.$set(this.chartData, 'energyLabels', energyLabels);
                    }
                    
                    if (chart.name === "square_meters") {
                        let squareMeters = {};
                        
                        _.each(chart.segments, (chartSegment) => {
                            squareMeters[chartSegment.text] = chartSegment.value;
                        });

                        this.$set(this.chartData.squareMeters, 'data', squareMeters);
                    }
                    
                    if (chart.name === "square_meters_total") {
                        this.chartData.squareMeters.total = chart.segments[0].value;
                    }
                    
                    if (chart.name === "functions") {
                        let purposes = {};
                        
                        _.each(chart.segments, (chartSegment) => {
                            purposes[chartSegment.text] = chartSegment.value;
                        });

                        this.$set(this.chartData, 'purposes', purposes);
                    }
                });
            }
        }
    }
</script>
