<template>
    <div class="form-group auth-password-group" :class="{'has-error': error}">
        <input :type="inputType" class="form-control" :class="{'is-invalid': error}" :name="name" placeholder="Wachtwoord" required>
        <span class="toggle-icon" :class="toggled ? 'icon-eye-closed-icon' : 'icon-eye-icon'" @click="toggled = !toggled"></span>
    </div>
</template>

<script>
    export default {
        name: "PasswordToggler",

        props: {
            "name": String,
            error: {
                type: Boolean,
                default: false
            }
        },

        data() {
            return {
                toggled: false
            }
        },

        computed: {
            inputType: function() {
                return this.toggled ? 'text' : 'password';
            }
        }
    }
</script>
