<template>
    <div class="repeatable-building-fieldset-component">
        <div class="auth-register-added-building" v-for="(building, index) in buildings" :key="building.index">
            <h3>Extra gebouw</h3>
            <a href="#" @click.prevent="deleteBuilding(index)" class="auth-register-remove-building"><span class="icon-bin-icon"></span></a>
            <div class="row">
                <div class="form-group col-12">
                    <input type="text" class="form-control" :name="`auth-register-building[${building.index}][streetname]`" placeholder="Straatnaam" required>
                </div>
                <div class="form-group col-sm-6">
                    <input type="number" class="form-control no-spinners" :name="`auth-register-building[${building.index}][housenumber]`" placeholder="Huisnummer" required>
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" :name="`auth-register-building[${building.index}][addition]`" placeholder="Toevoeging">
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" :name="`auth-register-building[${building.index}][postalcode]`" placeholder="Postcode" required>
                </div>
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" :name="`auth-register-building[${building.index}][city]`" placeholder="Plaatsnaam" required>
                </div>
            </div>
        </div>

        <div class="auth-register-add-building">
            <div class="row">
                <div class="col" v-show="canCreateNewBuilding === true">
                    <a href="#" @click.prevent="createBuilding()" title="Nog een gebouw toevoegen"><span class="icon-plus-icon"></span> Nog een gebouw toevoegen</a>
                </div>
                <div class="col warning" v-show="canCreateNewBuilding === false">
                    <p>Heb je meer dan 10 gebouwen? <a href="#" title="Neem contact op met Innax">Neem dan contact op met Innax.</a></p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "RepeatableBuildingFieldset",

        data() {
            return {
                buildings: [],
                buildingIndex: 1
            }
        },

        methods: {
            createBuilding: function() {
                if(this.canCreateNewBuilding === false){
                    return false;
                }

                this.buildings.push({ 'index':  this.buildingIndex });
                this.buildingIndex++;
            },

            deleteBuilding: function (index){
                this.$delete(this.buildings, index);
            }
        },

        computed: {
            canCreateNewBuilding: function() {
                return this.buildings.length < 9;
            }
        }
    }
</script>
